.b-about-alex {
  width: 100%;
  background: url(#{$assetpath}img/about-alex-background.png);
  background-repeat: no-repeat;
  float: left;
  background-size: cover;
  background-position-y: 16vw;
  @include breakpoint(mobile){
    padding-top: 15%;
  }
}
.b-about-alex__heading {
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1%;
  &--small {
    text-align: center;
    margin-bottom: 2.7%;
  }
}
.b-about-alex__main-img {
  width: 100%;
  text-align: center;
  img {
    width: 14%;
    margin-bottom: 1%;
  }
  @include breakpoint(mobile){
    padding-top: 7%;
    img {
      width: 60%;
    }
  }
}
.b-about-alex__division {
  width: 100%;
  padding:0 27%;
  overflow: hidden;
  &--left {
    width: 50%;
    float: left;
    margin-right: 9%;
    @include breakpoint(mobile){
      width: 100%;
    }
  }
  &--right {
    float: left;
    width: 41%;
    padding-top:11%;
    @include breakpoint(mobile){
      width: 100%;
    }
  }
  @include breakpoint(tablet){
    padding: 0 10%;
  }
  @include breakpoint(mobile){
    padding: 0 5%;
    overflow: hidden;
    padding-top: 21%;
  }
}
.b-about-alex__name {
  margin-bottom: 1%;
  font-weight: bold;
  font-size:2vw;
  span {
    font-weight: 100;
    font-family: $text__family--Roboto-Condensed;
  }
  @include breakpoint(mobile){
    font-size: cvp(41px, 330px);
    margin-bottom: 3%;
  }
}
.b-about-alex__title {
  font-size: 1vw;
  margin-bottom: 9%;
  @include breakpoint(mobile){
    font-size: cvp(18px,330px);
    margin-bottom: 21%;
  }
}
.b-about-alex__text--type1 {
  font-size: 1.3vw;
  line-height: 1.8vw;
  margin-bottom: 5%;
}
.b-about-alex__text--type2 {
  font-size: 1vw;
  line-height: 1.8vw;
  margin-bottom: 7%;
}
.b-about-alex__list {
  padding-top:13%;
  padding-left:7%;
}
.b-about-alex__list__heading {
  font-size: 0.9vw;
}
.b-about-alex__list__item {
  list-style-type: disc;
  margin-bottom:8%;
}
.b-about-alex__sticker {
  width: 100%;
  float: left;
  text-align: center;
  img {
    width: 21%;
    margin-left: 11%;
    margin-bottom: 12.6%;
    @include breakpoint(mobile){
      width: 111%;
      margin-left: -25%;
    }
  }
}
