.b-about-hos {
  width: 100%;
  float: left;
  // margin-top: 44vh;
  .b-main-heading {
    margin-bottom: 8.6%;
  }
}
.b-about-hos__wrap {
  width: 100%;
  padding:3% 25%;
  @include breakpoint(mobile){
    padding: 9% 5%;
  }
}
.b-about-hos__row {
  width: 100%;
  margin-bottom:14%;
  @extend .clearfix;
  &:after {
    content:"";
    width: 100px;
    height:3px;
    background:#222;
    top:3%;
    margin:10px auto;
    display: block;
  }
}
.b-about-hos__row--type1 {
  @extend .b-about-hos__row;
  .b-about-hos__left,
  .b-about-hos__right {
    width: 47%;
    margin:0;
    @include breakpoint(mobile){
      width: 100%;
    }
  }
  .b-about-hos__right {
    margin-left: 6%;
    width: 45%;
    @include breakpoint(mobile){
      width: 100%;
      margin-left:0;
    }
  }
}
.b-about-hos__left,
.b-about-hos__right {
  float: left;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.b-about-hos__left {
  width: 55%;
  margin-right: 5%;
  @include breakpoint(mobile){
    width: 100%;
    margin-bottom: 23%;
  }
}
.b-about-hos__right {
  img {
    width: 105%;
    margin-top: -8%;
  }
  margin-bottom: 12.5%;
  width: 40%;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.b-about-hos__heading--small {
  font-weight: bold;
  font-size: 1.63vw;
  margin-bottom: 6%;
}
.b-about-hos__heading--middle {
  font-weight: bold;
  font-size: 2.13vw;
  margin-bottom: 11%;
}
.b-about-hos__text {
  font-size: 0.93vw;
  line-height: 1.7vw;
}
