.b-about {
  text-align: center;
  background: $white-gray;
  overflow: hidden;
  padding-bottom: 9%;
}
.b-about__logo {
  width: 24%;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
  margin-bottom: 4.6%;
  @include breakpoint(tablet){
    width: 75%;
    margin-top: 10%;
  }
}
.b-about__left {
  width: 45%;
  float: left;
  text-align: left;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.b-about__right {
  width: 45%;
  float: left;
  text-align: left;
  @include breakpoint(mobile){
    width: 100%;
    padding-top: 13%;
  }
}
.b-about__typo {
  margin: 0 auto;
  width: 65%;
  display: block;
  @include breakpoint(mobile){
    width: 94%;
    margin-top: 3%;
  }
}
.b-about__text {
  font-size: 32.8px;
  line-height: 48px;
  padding: 0 4.6%;
  @include breakpoint(typoMax){
    font-size: cvp(32.8px, 2050px);
    line-height: cvp(48px, 2050px);
  }
  @include breakpoint(tablet) {
    font-size: cvp(18px, 360px);
    line-height: cvp(26px, 360px);
    margin-bottom: 23%;
  }
}
