.b-about {
  text-align: center;
}
.b-about__logo {
  width: 20%;
}
.b-about__left {
  width: 45%;
  float: left;
  text-align: left;
}
.b-about__right {
  width: 45%;
  float: left;
  text-align: left;

}
