.b-contributors {
  width: 100%;
  float: left;
}
.b-contributors__box {
  width: 46%;
  margin-bottom:5%;
  float:left;
  &:nth-of-type(2n){
    margin-left:8%;
  }
}
.b-contributors__box__author {
  float: left;
  width: 100%;
  margin-bottom: 6%;
}
.b-contributors__box__img {
  float: left;
  width: 16%;
}
.b-contributors__box__author__info {
  float: left;
  margin-left: 5%;
  padding-top:5%;
}
.b-contributors__box__content {
  text-align: justify;
  float: left;
}
