.b-conference {
  width: 42%;
  float: left;
  padding-bottom:50px;
}
.b-conference__media {
  width: 100%;
  img {
    width: 100%;
    display: block;
  }
}
.b-conference__content {
  width: 100%;
  overflow: hidden;
  background: white;
  float: left;
  padding-left: 5.9%;
  padding-top: 9.2%;
}
.b-conference__date {
  float: left;
  font-size: 35px;

  font-weight: bold;
  font-family:$text__family--Roboto;
  .b-day {
    font-size: 52px;
    @include breakpoint(typeMax){
      font-size: cvp(52px,2050px);
    }
  }
}
.b-conference__info {
  float: left;
  padding-left: 12%;
  width: 80%;
  &__city {
    color: #222;
    margin-bottom: 5%;
    font-size: 22px;
    font-family:$text__family--Roboto;
    @include breakpoint(mobile){
      font-size:cvp(22px, 2050px);
    }
  }
  &__heading {
    font-size: 37px;
    line-height: 41px;
    margin-bottom: 7%;
    font-weight: bold;
    @include breakpoint(mobile){
      font-size:cvp(37px, 2050px);
      line-height:cvp(41px, 2050px);
    }
  }
  &__text {
    line-height: 40px;
    margin-bottom: 10%;
    font-size: 27px;
    @include breakpoint(typoMax){
      font-size:cvp(27px, 2050px);
      line-height:cvp(40px, 2050px);
    }
  }
  &__button {
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8.7%;
    @include breakpoint(typoMax){
      font-size:cvp(20px, 2050px);
    }
  }
}
