.b-content-sticker {
  width: 200px;
  height: 200px;
  position: absolute;
  color:black;
  background: cyan;
  top:0;
  left:0;
  padding:0 0% 0 3%;
}
.b-content-sticker__tag {
  margin-top: 24%;
  margin-bottom: 7%;
  font-size:16px;
  @include breakpoint(typoMax) {
    font-size: cvp(16px, 1400px);
  }
}
.b-content-sticker__heading {
  font-size: 38px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 8%;
  @include breakpoint(typoMax) {
    font-size: cvp(38px, 1400px);
    line-height: cvp(40px, 1400px);
  }
}
.b-content-sticker__text{
  line-height: 22px;
  @include breakpoint(typoMax) {
    line-height: cvp(22px, 1400px);
  }
}
