.b-contributors {
  width: 100%;
  float: left;
  @include breakpoint(mobile){
    padding: 4%;
    h2 {
      margin-bottom: 14%;
    }
  }
}
.b-contributors__box {
  width: 44%;
  margin-bottom:10%;
  float:left;
  &:nth-of-type(2n){
    margin-left:12%;
    @include breakpoint(mobile){
      margin-left:0;
    }
  }
  @include breakpoint(mobile){
    width: 100%;
  }
}
.b-contributors__box__author {
  float: left;
  width: 100%;
  margin-bottom: 6%;
}
.b-contributors__box__img {
  float: left;
  width: 21%;
  @include breakpoint(mobile){
    width: 28%;
  }
}
.b-contributors__box__author__info {
  float: left;
  margin-left: 7%;
  padding-top: 6%;
  h4 {
    margin-bottom: 12%;
    font-size: cvp(25px,2050px);
    @include breakpoint(mobile){
      font-size: cvp(19px,330px);
      margin-bottom: 10%;
    }
  }
  b {
    font-weight: 700;
  }
  h5 {
    text-transform: uppercase;
    font-size: cvp(18px,2050px);
    @include breakpoint(mobile){
      font-size: cvp(15px,330px);
    }
  }
}
.b-contributors__box__content {
  // text-align: justify;
  float: left;
}
