.b-content-sticker {
  width: 200px;
  height: 200px;
  position: absolute;
  color:$base-color;
  background: cyan;
  top:0;
  left:0;
  padding:0 0% 0 5%;
  @include breakpoint(mobile) {
      padding:0 0% 0 6%;
  }
}
.b-content-sticker__tag {
  margin-top: 20%;
  margin-bottom: 5%;
  font-size: 22px;
  @include breakpoint(typoMax) {
    font-size: cvp(22px, 2050px);
  }
  @include breakpoint(mobile) {
    font-size: 13px;
    margin-top: 9%;
  }
}
.b-content-sticker__heading {
  font-size: 55px;
  line-height: 53px;
  font-weight: 800;
  margin-bottom: 8%;
  @include breakpoint(typoMax) {
    font-size: cvp(55px, 2050px);
    line-height: cvp(53px, 2050px);
  }
  @include breakpoint(mobile) {
    font-size: 28px;
    line-height: 29px;
    margin-bottom: 6%;
  }
}
.b-content-sticker__text{
  line-height: 30px;
  font-size: 22px;
  padding-right: 9%;
  @include breakpoint(typoMax) {
    font-size:cvp(22px, 2050px);
    line-height: cvp(30px, 2050px);
  }
  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 16px;
  }
}
