.b-contributors {
  width: 100%;
  float: left;
}
.b-contributors__box {
  width: 44%;
  margin-bottom:10%;
  float:left;
  &:nth-of-type(2n){
    margin-left:12%;
  }
}
.b-contributors__box__author {
  float: left;
  width: 100%;
  margin-bottom: 6%;
}
.b-contributors__box__img {
  float: left;
  width: 21%;
}
.b-contributors__box__author__info {
  float: left;
  margin-left: 7%;
  padding-top: 6%;
  h4 {
    margin-bottom: 12%;
    font-size: cvp(25px,2050px);
  }
  b {
    font-weight: 700;
  }
  h5 {
    text-transform: uppercase;
    font-size: cvp(18px,2050px);
  }
}
.b-contributors__box__content {
  text-align: justify;
  float: left;
}
