.b-conference {
  width: 46%;
  float: left;
  padding-bottom:50px;
  @include breakpoint(mobile) {
    width: 100%;
    border:1px solid #e9e9e9;
    padding-bottom: 0;
    margin-bottom: 8%;
  }
}
.b-conference__wrap {
  max-width: 1525px;
  width: 100%;
  a{
    color: inherit;
  }
  margin:0 auto;
  &>a {
    // display: block;
    width: 46%;
    @include breakpoint(tablet) {
        width: 48%;
    }
    @include breakpoint(mobile){
      width: 100%;
    }
    .b-conference {
      width: 100%;
    }
    float: left;
    &:nth-child(3){
      float: right;
    }
  }
}
.b-conference--mobile-short {
  @include breakpoint(mobile) {
    border: none;
    margin-bottom: 0;
    border-bottom:1px solid #e9e9e9;
    .b-conference__media {
      display: none;
    }
  }
}
.b-conference__sticker--mobile {
  width: 100%;
  background: $red;
  font-size: 24px;
  display: none;
  color:white;
  padding:10px 10px;
  b {
    font-weight: bold;
  }
  @include breakpoint(mobile){
    display:block;
  }
}
.b-conference__media {
  width: 100%;
  img {
    width: 100%;
    display: block;
  }
}
.b-conference__content {
  width: 100%;
  overflow: hidden;
  background: white;
  float: left;
  padding-left: 4.5%;
  padding-top: 7%;
  padding-right: 6%;
}
.b-conference__date {
  float: left;
  font-size: 35px;
  font-weight: bold;
  position:relative;
  font-family:$text__family--Roboto;
  .b-day {
    font-size: 42px;
    margin-bottom: 6%;
    @include breakpoint(typoMax){
      font-size: cvp(42px,2050px);
    }
    @include breakpoint(tablet) {
      font-size: cvp(22px,768px);
    }
    @include breakpoint(mobile) {
      font-size: cvp(25px,330px);
      line-height: cvp(20px,330px);
    }
  }
  .b-month {
    font-size: 21px;
    @include breakpoint(typoMax){
      font-size: cvp(21px,2050px);
    }
    @include breakpoint(tablet) {
      font-size: cvp(13px,768px);
    }
    @include breakpoint(mobile) {
      margin-top:4%;
      font-size: cvp(13px,330px);
    }
  }
  @include breakpoint(typoMax){
    font-size: cvp(35px,2050px);
  }
  &:after {
    height: 119%;
    width: 2px;
    background: $red;
    content: "";
    position: absolute;
    top: 6%;
    right: -14%;
    transform: skew(-20.9deg);
    display: block;
    @include breakpoint(tablet) {
      right: -26%;
    }
    @include breakpoint(mobile) {
      height: 116%;
      top: -9%;
      right: -23%;
      transform: skew(-20.9deg);
    }
  }
  @include breakpoint(mobile) {
    font-size: 20px;
  }
}
.b-conference__info {
  float: left;
  padding-left: 7%;
  width: 80%;
  &__city {
    color: $red;
    margin-bottom: 5%;
    font-size: 20px;
    margin-top: 1%;
    font-size: 22px;
    font-family:$text__family--Roboto;
    @include breakpoint(typoMax){
      font-size:cvp(20px, 2050px);
    }
    @include breakpoint(tablet) {
      font-size: cvp(15px,768px);
      margin-top: -2%;
      margin-bottom: 2%;
    }
    @include breakpoint(mobile) {
      font-size: 12px;
      margin-bottom: 2%;
      color:$red;
    }
  }
  &__heading {
    font-size: 32px;
    line-height: 37px;
    padding: 0 5% 0 0;
    margin-bottom: 4%;
    font-weight: bold;
    @include breakpoint(typoMax){
      font-size:cvp(32px, 2050px);
      line-height:cvp(39px, 2050px);
    }
    @include breakpoint(tablet) {
      font-size:cvp(20px, 768px);
      line-height:cvp(22px, 768px);
    }
    @include breakpoint(mobile) {
      font-size: 20px;
      line-height: 21px;
      margin-bottom: 3%;
    }
  }
  &__text {
    line-height: 38px;
    margin-bottom: 4%;
    font-size: 25px;
    @include breakpoint(typoMax){
      font-size:cvp(25px, 2050px);
      line-height:cvp(38px, 2050px);
    }
    @include breakpoint(tablet) {
      font-size: cvp(16px, 768px);
      line-height: cvp(21px, 768px);
    }
    @include breakpoint(mobile) {
      display: none;
    }
  }
  &__button {
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6.5%;
    color:$cyan;
    @include breakpoint(typoMax){
      font-size:cvp(20px, 2050px);
    }
    @include breakpoint(tablet) {
      display: none;
    }
    @include breakpoint(mobile) {
      display: none;
    }
  }
  @include breakpoint(tablet) {
    padding-left: 10.9%;
    width: 78%;
  }
  @include breakpoint(mobile) {
    padding-left: 12%;
    margin-top: -2%;
    padding-bottom: 8%;
    width: 71%;
  }
}
.b-conference__sticker--mobile {
  display: none;
}
