.b-conference {
  width: 42%;
  float: left;
  padding-bottom:50px;
  @include breakpoint(mobile) {
    width: 100%;
    border:1px solid #e9e9e9;
    padding-bottom: 0;
    margin-bottom: 8%;
  }
}
.b-conference--mobile-short {
  @include breakpoint(mobile) {
    border: none;
    margin-bottom: 0;
    border-bottom:1px solid #e9e9e9;
    .b-conference__media {
      display: none;
    }
  }
}
.b-conference__sticker--mobile {
  width: 100%;
  background: $red;
  font-size: 24px;
  color:white;
  padding:10px 10px;
  b {
    font-weight: bold;
  }
}
.b-conference__media {
  width: 100%;
  img {
    width: 100%;
    display: block;
  }
}
.b-conference__content {
  width: 100%;
  overflow: hidden;
  background: white;
  float: left;
  padding-left: 5.9%;
  padding-top: 9.2%;
}
.b-conference__date {
  float: left;
  font-size: 35px;
  font-weight: bold;
  position:relative;
  font-family:$text__family--Roboto;
  .b-day {
    font-size: 52px;
    @include breakpoint(typoMax){
      font-size: cvp(52px,2050px);
    }
    @include breakpoint(mobile) {
      font-size: 31px;
      line-height: 20px;
    }
  }
  @include breakpoint(typoMax){
    font-size: cvp(35px,2050px);
  }
  &:after {
    height: 100%;
    width:2px;
    background:$red;
    content:"";
    position:absolute;
    top:0;
    right: -37%;
    transform:skew(-14.9deg);
    display:block;
    @include breakpoint(mobile) {
      height: 116%;
      top: -9%;
      right: -23%;
      transform: skew(-20.9deg);
    }
  }
  @include breakpoint(mobile) {
    font-size: 20px;
  }
}
.b-conference__info {
  float: left;
  padding-left: 12%;
  width: 80%;
  &__city {
    color: $base-color;
    margin-bottom: 5%;
    font-size: 22px;
    font-family:$text__family--Roboto;
    @include breakpoint(typoMax){
      font-size:cvp(22px, 2050px);
    }
    @include breakpoint(mobile) {
      font-size: 12px;
      margin-bottom: 2%;
      color:$red;
    }
  }
  &__heading {
    font-size: 37px;
    line-height: 41px;
    margin-bottom: 7%;
    font-weight: bold;
    @include breakpoint(typoMax){
      font-size:cvp(37px, 2050px);
      line-height:cvp(41px, 2050px);
    }
    @include breakpoint(mobile) {
      font-size: 20px;
      line-height: 21px;
      margin-bottom: 3%;
    }
  }
  &__text {
    line-height: 40px;
    margin-bottom: 10%;
    font-size: 27px;
    @include breakpoint(typoMax){
      font-size:cvp(27px, 2050px);
      line-height:cvp(40px, 2050px);
    }
    @include breakpoint(mobile) {
      display: none;
    }
  }
  &__button {
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8.7%;
    color:$cyan;
    @include breakpoint(typoMax){
      font-size:cvp(20px, 2050px);
    }
    @include breakpoint(mobile) {
      display: none;
    }
  }
  @include breakpoint(mobile) {
    padding-left: 12%;
    margin-top: -2%;
    padding-bottom: 8%;
  }
}
