.b-events {
  width:100%;
  margin: 0 auto;
  background: white;
  position: relative;
  margin-top: 7.3%;
  @include breakpoint(mobile) {
    width: 100%;
    margin-top:0;
  }
  .b-conference__content {
    padding-left: 0;
    padding-left: 16%;
    width: 100%;
    padding-right: 6%;
    border-bottom: 1px solid #ccc;
    padding-top: 6%;
    cursor:pointer;
    &.last {
      border-bottom: none;
    }
    @include breakpoint(mobile) {
      margin-left: 0%;
      padding-left: 5.9%;
      padding-top: 9.2%;
      width: 100%;
      margin-right: 0%;
      border-bottom: 1px solid #e9e9e9;
    }
    &:hover {
      background: #eee;
    }
  }
  .b-conference__info {
    width: 80%;
    padding-left:0;
    &__text {
      margin-bottom: 6%;
    }
    &__city {
      margin-bottom: 2%;
    }
    &__heading {
      margin-bottom: 3%;
    }
    &__button {
      margin-bottom: 5.7%;
    }
    @include breakpoint(mobile) {
      padding-left:12%;
    }
  }
  .b-conference__date {
    margin-right:8%;
    @include breakpoint(mobile) {
      margin-right: 0;

    }
  }
  &__sticker {
    width: 19.7%;
    background: $red;
    text-align: center;
    text-align: left;
    color: white;
    font-weight: bold;
    position: absolute;
    left: -9%;
    top: -5%;
    @include breakpoint(mobile) {
      display: none;
    }
    img {
      width: 100%;
      top:0;
      display: block;
    }
  }
  .b-button__wrap {
    text-align: center;
  }
  .b-button {
    margin-top: 5.3%;
    color: $base-color;
    border: 3px solid $base-color;
    display: inline-block;
    padding: 2.6% 8.3%;
    margin-bottom: 7.1%;
    font-size: 22px;
    margin-top: 7%;
    cursor:pointer;
    @include transition(all 300ms $sharpCurve);
    &:hover {
      background: #222;
      color:#fff;
    }
    @include breakpoint(typoMax) {
      font-size: cvp(22px, 2050px);
    }
    @include breakpoint(mobile) {
      font-size: 15px;
      padding: 5.6% 6%;
      width: 82%;
      text-align: center;
      margin: 0 auto;
      margin-top: 15%;
      margin-bottom: 17%;
    }
  }
}
