.b-ebook {
  width: 100%;
  float: left;
  position: relative;
}
.b-ebook__media {
  width: 55%;
  margin-right: 5%;
  float: left;
  img {
    width: 100%;
    display: block;
  }
  @include breakpoint(mobile) {
    width: 100%;
  }
}
.b-ebook__content {
  width: 40%;
  float: left;
  text-align: center;
  &__header {
    text-align: left;
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    margin-bottom: 10%;
    @include breakpoint(typoMax){
      font-size:cvp(36px, 2050px);
      line-height:cvp(42px,2050px);
    }
    @include breakpoint(mobile) {
      font-size: cvp(22px, 330px);
      line-height: cvp(25px, 330px);
      margin-bottom: 7%;
      padding-top: 3%;
    }
  }
  &__text {
    text-align: left;
    font-size: 23px;
    line-height: 29px;
    margin-bottom: 13%;
    max-height: 9vw;
    overflow: hidden;
    @include breakpoint(typoMax){
      font-size:cvp(23px, 2050px);
      line-height:cvp(29px,2050px);
    }
    @include breakpoint(mobile) {
      max-height: none;
      font-size:cvp(16px, 330px);
      line-height:cvp(22px,330px);
      br {
        display: none;
      }
    }

  }
  @include breakpoint(mobile) {
    width: 100%;
  }
}
.b-ebook__button {
  padding: 1.7% 5.5%;
  background: $red;
  float: left;
  font-size: 17px;
  position: absolute;
  bottom:0;
  display: block;
  color:white;
  @include breakpoint(mobile) {
    position: relative;
    display: inline-block;
    padding: 4% 11%;
    float: none;
  }
}
