.page-about {
  .b-fluid-header {
    background-color:$yellow;
    background-image:url(#{$assetpath}img/about-header-photo--small.jpg);
  }
  .b-fluid-header__circle {
    fill:$yellow;
  }
}
.page-education, .page-education-customized {
  .b-fluid-header {
    background-color:#50E3C2;
    background-image:url(#{$assetpath}img/edu-header-background.jpg);
  }
  .b-fluid-header__circle {
    fill:#50E3C2;
  }
}
.page-insight-report {
  .b-fluid-header {
    background-color:$red;
    background-image:url(#{$assetpath}img/edu-header-background.jpg);
  }
  .b-fluid-header__circle {
    fill:$red;
  }
}
.page-detail-education {
  .b-fluid-header {
    background-color:#ccc;
    background-image:url(#{$assetpath}img/sm-background.jpg);
  }
  .b-fluid-header__circle {
    // fill:$red;
  }
}
// @include fhSettings('.page-about',$red, "/about-header-photo.jpg" );
