.b-fluid-header {
  height:100vh;
  width:100%;
  float:left;
  background-image:url(#{$assetpath}img/about-header-photo.jpg);
  background-size:cover;
  overflow: hidden;
  background-repeat:no-repeat;
  position: fixed;
  // margin-top: -158px;
}
.b-fluid-header__element {
  position: relative;
  top: 20.6992vh;
  left: 81vh;
  width: 30%;
  transform: translateX(-50%);
  @include breakpoint(mobile) {
    left:0;
  }
}
.b-fluid-header__vector {
  position:absolute;
  height: 53vh;
  @include prefix(transform, scale(7), webkit ms moz o);
  img, svg {
    height:100%;
  }
  @include breakpoint(mobile) {
    height: 33vh;
  }
}
.b-fluid-header__type {
  font-size: 8.4vh;
  line-height: 7.2vh;
  opacity: 0;
  position: absolute;
  width: 200%;
  font-style: italic;
  z-index: 111;
  top:17vh;
  left: 8vw;
  font-weight: bold;
  @include breakpoint(mobile) {
    font-size: 3.4vh;
    line-height: 3.2vh;
    top: 11vh;
    left: 41vw;
  }
}
#trigger {
  position: absolute;
  top:20%;
}
.b-fluid-header__circle {
  // fill:orange;
}
