.page-about {
  .b-fluid-header {
    background-image:url(#{$assetpath}img/about-header-photo--small.jpg);
  }
  .b-fluid-header__circle {
    fill:$yellow;
  }
}
.page-education, .page-education-customized {
  .b-fluid-header {
    background-image:url(#{$assetpath}img/edu-header-background.jpg);
  }
  .b-fluid-header__circle {
    fill:#50E3C2;
  }
}
.page-insight-report {
  .b-fluid-header {
    background-image:url(#{$assetpath}img/edu-header-background.jpg);
  }
  .b-fluid-header__circle {
    fill:$red;
  }
}
// @include fhSettings('.page-about',$red, "/about-header-photo.jpg" );
