.b-fullbanner {
  width: 100%;
  position: relative;
  &> img {
    width: 100%;
    @include breakpoint(tablet) {
      width: 150%;
      left: -25%;
      position: relative;
    }
    @include breakpoint(mobile){
      width: 454%;
      left: -50%;
      position: relative;
    }
  }
  h2 {
    text-align: center;
    @include breakpoint(laptop) {
      font-size: cvp(42px, 1700px);

      line-height: cvp(48px, 1700px);
    }
  }

  // float: left;
  // background: url(#{$assetpath}/img/consultancy-img.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.b-fullbanner__item {
  top:5%;
  left: 36%;
  z-index: 10;
  width: 28%;
  position: absolute;
  img {
    width: 100%;
  }
  @include breakpoint(tablet) {
    top: 7%;
    left: 30%;
    width: 40%;
  }
  @include breakpoint(mobile){
    width: 100%;
    left: 0;
  }
}
.b-fullbanner__item__content {
  margin-top: -70%;
  position: relative;
  text-align: center;
  width: 80%;
  margin-left:10%;
  @include breakpoint(mobile){
    margin-top: -86%;
    h2 {
      text-align: center;
      // width: 150%;
    }
    p {
      margin-bottom: 35%;
    }
  }
}
