.b-fluid-header {
  height:100vh;
  width:100%;
  float:left;
  background-color: white;
  background-image:url(#{$assetpath}img/about-header-photo--small.jpg);
  background-size:cover;
  overflow: hidden;
  background-repeat:no-repeat;
  position: fixed;
  // top:0;
  // margin-top: -158px;
  @include breakpoint(tablet) {
    position: relative;
    height: 38vh;
  }
  @include breakpoint(mobile){
    position: relative;
    height: 58vh;
  }
}
.b-fluid-header__element {
  position: relative;
  top: 20.6992vh;
  left: 38vw;
  width: 30%;
  transform: translateX(-50%);
  @include breakpoint(tablet) {
    top: 5.6992vh;
    left: 22vw;
  }
  @include breakpoint(mobile) {
    left: 3%;
    top: 19%;
  }
}
.b-fluid-header__vector {
  position:absolute;
  height: 53vh;
  @include prefix(transform, scale(7), webkit ms moz o);
  img, svg {
    height:100%;
  }
  @include breakpoint(tablet) {
    height: 27vh;
  }
  @include breakpoint(mobile) {
    height: 43vh;
  }
}
.b-fluid-header__type {
  font-size: 8.4vh;
  line-height: 7.2vh;
  opacity: 0;
  position: absolute;
  width: 200%;
  font-style: italic;
  z-index: 111;
  top:17vh;
  left: 8vw;
  font-weight: bold;
  @include breakpoint(tablet) {
    font-size: 3vh;
    line-height: 2.9vh;
    top: 13vh;
    left: 20vw;
  }
  @include breakpoint(mobile) {
    font-size: 6.1vh;
    line-height: 5.9vh;
    top: 13vh;
    left: 20vw;
    width: 312%;
    display: block;
  }
}
#trigger {
  position: absolute;
  top:20%;
}
.b-fluid-header__circle {
  // fill:orange;
}
.header-no-animation {
  .b-fluid-header {
    top: -56vh;
    position: absolute;
  }
  .b-fluid-header__element {
    width: 36.4%;
    left: 46.1%;
    top: 49.7vh;
  }
  .b-fluid-header__vector {
    margin-left: 0%;
    margin-top: 0%;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  .b-fluid-header__type {
    opacity: 1;
    margin-left: -25%;
    transform: matrix(0.5, 0, 0, 0.5, 0, 0);
  }
}
