.b-home-tips {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 4.4%;
}
.b-home-tips__left, .b-home-tips__right {
  width: 49.6%;
  float:left;
  background-color: $yellow;
  @include breakpoint(mobile) {
    width: 100%;
    float: left;
    position: relative;
  }
}
.b-home-tips__right {
  background: url(#{$assetpath}img/bw.jpg);
  float: right;
  width: 50.4%;
  position: relative;
  background-size: 196% auto;
  background-position: 100%;
  background-repeat: no-repeat;
  .b-home-tips__heading {
    margin-bottom: 2%;
  }
  p {
    text-align: center;
    line-height: 32px;
    font-size: 30px;
    color: #fcee2f;
    font-style: italic;
    width: 51%;
    margin: 0 auto;
    margin-top: 11%;
    margin-left: 33%;
  }
  &:before {
    height: 100%;
    width: 19%;
    transform: skew(-21deg);
    position: absolute;
    content: "";
    background: $yellow;
    left: -9%;
    @include breakpoint(mobile) {
      display: none;
    }
  }
  @include breakpoint(mobile) {
    width: 100%;
  }
}
.b-home-tips__left {
  position: absolute;
  top:0;
  bottom:0;
  p {
    font-size: 58px;
    margin-left: 12%;
    font-weight: bold;
    line-height: 56px;
    font-style: italic;
    text-transform: uppercase;
    padding-right: 12%;
  }
  @include breakpoint(mobile) {
    position: relative;
  }
}
.b-home-tips__typo {
  margin-left: 14%;
  margin-top: 6%;
  width: 29%;
  margin-bottom: 1.2%;
}




.b-home-tips__social {
  float: right;
  width: 84%;
  padding-left:0 !important;
  text-align: center;
  margin-bottom: 2% !important;
  &>p {
    margin-top: 5.1%;
    margin-bottom: 2% !important;
  }
  p {
    font-size: 21px;
    color: white;
    margin-bottom: 6%;
    @include breakpoint(typoMaxHp){
      font-size: cvp(21px, 1600px);
    }
    @include breakpoint(mobile) {
      font-size: cvp(20px, 330px);
    }
  }
}
.b-home-tips__social__item {
  display: inline-block;
  width: 6%;
  margin-right: 6%;
  &:nth-child(4){
    width: 3%;
    @include breakpoint(mobile) {
      width: 6%;
    }
  }
  img {
    width: 100%;
  }
  @include breakpoint(mobile) {
    width: 13%;
    margin-top: 6%;
    margin-bottom: 11%;
  }
  &:hover {
    opacity: 0.8;
  }
}
.twit {
  margin-right:0;
}

.b-home-tips__social__heading {
  text-align: center !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
  font-style: normal !important;
}
