.b-hos-block {
  width: 100%;
  float: left;
  overflow: hidden;
  background: white;
  margin-bottom: 5%;
}
.b-hos-block--big {
  @extend .b-hos-block;
  .b-hos-block__media {
    img {
      width: 147%;
      @include breakpoint(mobile){
        width: 100%;
      }
    }
  }
}
.b-hos-block__media {
  float: left;
  width: 47%;
  position: relative;
  img {
    width: 114%;
    display: block;
    @include breakpoint(mobile){
      width: 100%;
    }
  }
  &__info {
    position: absolute;
    bottom: 0;
    padding: 0% 3% 5% 3%;
    color:white;
    width: 100%;
    text-transform: uppercase;
    @include breakpoint(mobile){
      padding: 0% 3% 0% 3%;
    }
  }
  &__nbr {
    width: 18%;
    font-size: 78px;
    font-family: $text__family--Roboto;
    float: left;
    @include breakpoint(typoMax) {
      font-size:cvp(78px,2050px);
    }
    @include breakpoint(mobile){
      width: 100%;
      font-size: cvp(36px,330px);
      margin-bottom: 11%;
    }
  }
  &__desk {
    width: 82%;
    float: left;
    h3 {
      font-size: cvp(47px,2050px);
      font-weight: 700;
      color:$yellow;
      width: 63%;
      @include breakpoint(mobile){
        font-size: cvp(21px,330px);
        text-align: left;
      }
    }
    h5 {
      font-size: cvp(19px,2050px);
      margin-bottom: 1.8%;
      @include breakpoint(mobile){
        font-size: cvp(9px,330px);
      }

    }
  }
  &:after {
    display: block;
    width: 138%;
    height: 131%;
    background: white;
    content: "";
    position: absolute;
    right: -123.5%;
    transform: skew(-10.1deg);
    top: 0%;
    z-index: 1;
    @include breakpoint(mobile) {
      display: none;
    }
  }
  @include breakpoint(mobile){
    width: 100%;
  }
}
.b-hos-block__content {
  width: 53%;
  padding-right: 6%;
  padding-top: 2.7%;
  padding-left: 1.1%;
  display: block;
  position: relative;
  float: left;
  z-index: 28;
  background: white;
  span {
    color: $red;
  }
  @include breakpoint(mobile){
    width: 100%;
    padding: 10% 4% 0 4%;
  }

}
.workshop .b-hos-block__media__desk {
  h3 {
    color: $red;
  }

}
.masterclass .b-hos-block__media__desk {
  h3 {
    color: $yellow;
  }
}
