.b-intro-box {
  width: 100%;
  padding-top: 3.2%;
  // padding-left: 12.2%;
  float: left;
  margin-bottom: 13%;
  h1 {
    text-align: left;
  }
  @include breakpoint(mobile){
    padding: 4%;
    padding-top: 9%;
  }
}
.b-intro-box__content {
  float: left;
  width: 46%;
  margin-right: 5%;
  padding-top: 7%;
  @include breakpoint(mobile){
    width: 100%;
  }
}
.b-intro-box__media {
  float: left;
  img {
    width: 98%;
    @include breakpoint(mobile){
      width: 94%;
      margin-top: 2%;
    }
  }
  margin-bottom: 12.5%;
  width: 49%;
  @include breakpoint(mobile){
    width: 100%;
  }
}
