.b-intro-box {
  width: 100%;
  padding-top: 10%;
  padding-left: 8%;
  float: left;
  h1 {
    text-align: left;
  }
}
.b-intro-box__content {
  float: left;
  width: 46%;
  margin-right: 5%;
  padding-top: 7%;

}
.b-intro-box__media {
  float: left;
  img {
    width: 91%;
  }
  margin-bottom: 12.5%;
  width: 49%;
}
