.b-media {
  display:block;
  width: 35%;
  float: left;
  position: relative;
}
.b-media--big {
  @extend .b-media;
  width: 46.6%;
  margin-right: 3.5%;
  margin-left: 9.3%;
  .b-content-sticker {
    left: -13.4%;
    top: 12.4%;
    width: 50%;
    height: 74.2%;
    background: rgba(220, 235, 252, 0.93);
    @include transition(background 400ms);
    &:hover {
      background: #dcebfc;
    }
  }
  @include breakpoint(mobile) {
    width: 113%;
    margin-bottom: 6%;
    margin-left: 14%;
    .b-content-sticker {
      width: 66.5%;
      left: -13.6%;
      top: -18%;
      height: 99.2%;
    }
  }
}
.b-media--small {
  @extend .b-media;
  width: 36.5%;
  margin-top: 14%;
  margin-left: 1.2%;
  .b-content-sticker {
    left: 7.7%;
    top: -42.3%;
    width: 64.1%;
    height: 96.1%;
    background: rgba(238, 46, 69, 0.93);
    @include transition(background 400ms);
    &:hover {
      background: $red;
    }
    &__date {
      color: white;
    }
  }
  @include breakpoint(mobile) {
    width: 132%;
    left: -39%;
    margin-bottom: 25%;
    .b-content-sticker {
      left: 48.8%;
      top: 9%;
      width: 56%;
      height: 85%;
    }
  }
}
.b-media--middle {
  @extend .b-media;
  width: 46%;
  margin-top: 4%;
  margin-left: 34.5%;
  .b-content-sticker {
    left: -17%;
    top: 10.4%;
    width: 51%;
    height: 75.2%;
    @include transition(background 400ms);
    background: rgba(220, 235, 252, 0.93);
    &:hover {
      background: #dcebfc;
    }
  }
  @include breakpoint(mobile) {
    width: 129%;
    left: -24%;
    margin-top: 0%;
    .b-content-sticker {
      top: 6%;
      left: -9.2%;
      width: 57.9%;
      height: 87.8%;
    }
  }
}
.b-media__item {
  width: 100%;
  img {
    width: 100%;
  }
}
