.b-main-video {
  width: 100%;
  margin:0 auto;
  margin-bottom:100px;
  display:inline-block;
  @include breakpoint(mobile){
    margin-bottom: 2%;
  }
}
.b-main-video__wrap {
  overflow: hidden;
  position: relative;
}
.b-main-video__icon {
  width: 150px;
  height: 150px;
  background: url(../../assets/img/button-play.svg);
  background-position: center;
  position: absolute;
  background-size: contain;
  top:45%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  @include breakpoint(mobile) {
    width: 50px;
    height: 50px;
  }
}
.b-main-video__info {
  position: absolute;
  bottom: 23%;
  overflow: hidden;
  padding-left: 9%;
  width: 43%;
  color: white;
  text-align: left;
  @include breakpoint(mobile) {
    width: 100%;
    bottom: -7%;
    padding-left: 4%;
  }
}
.b-main-video__heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 66px;
  padding-bottom: 2%;
  color:$yellow;
  @include breakpoint(typoMax) {
    font-size: cvp(50px,2050px);
    line-height:cvp(66px,2050px);
  }
  @include breakpoint(mobile) {
    font-size: 21px;
    line-height: 23px;
  }
}
.b-main-video__text {
  font-size: 24px;
  line-height: 31px;
  @include breakpoint(typoMax) {
    font-size: cvp(24px,2050px);
    line-height:cvp(31px,2050px);
  }
  @include breakpoint(mobile) {
    display:none;
  }
}
