.b-reviews {
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 15%;
  @include breakpoint(mobile){
    padding-top:10%;
  }
}
.b-reviews__item {
  width: 46%;
  float: left;
  &:nth-of-type(2n){
    margin-left:8%;
    .b-reviews__item__img {
      height: 3.5%;
      @include breakpoint(mobile){
        height: 6.3%;
      }
    }
    @include breakpoint(mobile){
      margin-left:0;

    }
  }
  @include breakpoint(mobile){
    width: 100%;
    margin-bottom: 20%;
  }
}
.b-reviews__item__img {
  height: 2.5%;
  margin-bottom: 7.9%;
  @include breakpoint(mobile){
    height: 4.2%;
  }
}
