.b-service {
  width: 100%;
}
.b-service--consultancy {
  // height: 500px;
  margin-bottom: 4.4%;
  background: $yellow;
  overflow: hidden;
  @extend .b-service;
  .b-service__media  {
    float: left;
    width: 52%;
    img {
      width: 114%;
      display: block;
    }
    @include breakpoint(mobile) {
      width: 100%;
      margin-bottom: 4%;
    }
  }
  .b-service__content {
    width: 48%;
    padding-top: 2%;
    height: 100%;
    display: block;
    position: relative;
    float: left;
    z-index: 99;
    background: $yellow;
    &:after {
      display: block;
      width: 100%;
      height: 131%;
      background: #fcee2f;
      content: "";
      position: absolute;
      left: -13%;
      transform: skew(-12.6deg);
      top: 0%;
      z-index: -1;
      @include breakpoint(mobile) {
        display: none;
      }
    }
    @include breakpoint(mobile) {
      width: 100%;
      margin-top:-10;
      margin-bottom: 9%;

    }
  }
  .b-service__logo {
    margin-bottom: 2%;
    width: 86%;
    margin-left: 3%;
    @include breakpoint(mobile) {
      width: 91%;
      margin-left: 5%;
      margin-bottom: 4.8%;
    }
  }
  .b-service__content__text {
    width: 90%;
    margin-bottom:6%;
    font-size: 34px;
    line-height: 42px;
    padding: 0 6%;
    &--small {
      margin-bottom: 5%;
    }
    @include breakpoint(typoMax){
      line-height: cvp(42px,2050px);
      font-size: cvp(34px,2050px);
    }
    @include breakpoint(mobile) {
      width: 100%;
      padding: 0 3%;
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      text-align: left;
    }
  }
  .b-service__quote {
    margin-left: -7%;
    @include breakpoint(mobile) {
      display: none;
    }
  }
  .b-service__quote__img {
    width: 13.4%;
    border-radius: 50%;
    float: left;
    img {
      height: 100%;
      width: auto;
    }
  }
  .b-service__quote__text {
    margin-left: 4%;
    font-style: italic;
    line-height: 34px;
    font-size: 28px;
    float: left;
    width: 43%;
    text-decoration: underline;
    @include breakpoint(typoMax){
      line-height: cvp(34px,2050px);
      font-size: cvp(28px,2050px);
    }
  }
  .b-button {
    border: 3px solid #222;
    padding: 3.2% 11%;
    margin-left: 3%;
    @include breakpoint(mobile){
      margin-left: auto;
    }
    &:hover {
      background: #222;
      color:white;
    }
  }
}
