.b-line--top {

  &:before {
    content: '';
    position: relative;
    height: 3px;
    width: 83px;
    background: #222;
    top: 0%;
    left: 50%;
    display: block;
    /* text-align: center; */
    transform: translateX(-50%);
    position: absolute;
    visibility: visible;
    @include breakpoint(mobile) {
      display: none;
    }
  }
}
.b-line--bottom {

  &:after {
    content: '';
    position: relative;
    height: 3px;
    width: 83px;
    background: #222;
    bottom: -10%;
    left: 50%;
    display: block;
    /* text-align: center; */
    transform: translateX(-50%);
    position: absolute;
    visibility: visible;
    @include breakpoint(mobile) {
      display: none;
    }
  }
}
