.b-service--insights {
  // padding:20px;
  // max-height: 700px;
  overflow: hidden;
  background-color: $red;
  background-image: url(../../assets/img/insights-bck.jpg);
  .b-service__logo {
    width: 78%;
    margin-bottom: 5.2%;
    margin-top: 11.6%;
  }
  .b-service__media {
    overflow: hidden;
    position: relative;
    float: left;
    width: 42.9%;
    margin-top: 5%;
    padding-left: 5.9%;
    img {
      width: 100%;
    }
  }
  .b-service__media__pre-heading {
    font-size:35px;
    color:$yellow;
  }
  .b-service__media__heading {
    font-size:50px;
    color:white;
    line-height: 61px;
    @include breakpoint(typoMax){
      font-size: cvp(50px, 2050px);
      line-height: cvp(61px, 2050px);
    }
  }
  .b-service__media__year {
    font-size: 50px;
    color:$yellow;
  }
  .b-service__content {
    width: 56.6%;
    float: left;
    padding-left: 8%;
    .b-service__heading {
      font-weight: bold;
      color: white;
      width: 60%;
      font-size:68px;
      line-height: 73px;
      margin-bottom: 1%;
      @include breakpoint(typoMax){
        font-size:cvp(68px, 2050px);
        line-height: cvp(73px, 2050px);
      }
      &:after {
        width: 60px;
        height:5px;
        content:'';
        background: $red;
        display:block;
        margin-top: 10%;
      }
    }
  }
  .b-service__text {
    font-size: 31px;
    line-height: 34px;
    margin-bottom: 20px;
    color: white;
    width: 53%;
    @include breakpoint(typoMax){
      font-size:cvp(31px, 2050px);
      line-height:cvp(34px, 2050px);
    }
  }
  .b-service__content__button {
    margin-top: 9%;
    margin-right: 6%;
    border: 3px solid white;
    display: inline-block;
    padding: 3.3% 11.6%;
    color: white;
    font-size: 20px;
    margin-bottom: 9.6%;
    font-weight: bold;
    cursor:pointer;
    @include transition(all 300ms $sharpCurve);
    &:hover {
      background: #fff;
      color:#222;
    }
    @include breakpoint(typoMax){
        font-size:cvp(20px, 2050px);
    }
  }
}
