.b-service--training {

  margin-bottom: 4.4%;
  width: 100%;
  .b-service__logo {
    margin:0 auto;
    display: block;
    margin-bottom: 6%;
    width: 39%;
    margin-bottom: 4.6%;
    @include breakpoint(tablet) {
      width: 41%;
    }
    @include breakpoint(mobile) {
      margin-top: 0;
      margin-bottom: 11%;
      width: 86%;
    }
  }
  .b-service__top {
    padding-top: 4.4%;
    padding-bottom: 4%;
  }
  .b-service__top__text {
    text-align: left;
    padding: 0 17%;
    font-size: 31px;
    line-height: 48px;
    margin-bottom: 2.3%;
    @include breakpoint(typoMax){
      font-size:cvp(31px, 2050px);
      line-height:cvp(48px, 2050px);
    }
    @include breakpoint(tablet) {
      font-size: cvp(18px, 768px);
      padding: 0 13%;
      line-height: cvp(25px, 768px);
    }
    @include breakpoint(mobile) {
      padding: 0 9%;
      font-size: cvp(17px,360px);
      line-height: cvp(27px,360px);
      margin-bottom: 9.3%;
    }
  }
  .b-service__division {
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background: #f8f8f8;
    color: white;
    width: 100%;
    padding: 0 8.2%;
    padding-top: 2.5%;
    padding-bottom: 3.1%;
    border-bottom:3px solid $cyan;
    h3 {
      margin-bottom: 6%;
      color:#222;
    }
    @include breakpoint(typoMax){
        // padding-top: 4.1%;
    }
    @include breakpoint(tablet) {
      padding: 0 1.2%;
      padding-top: 7.1%;
    }
    @include breakpoint(tablet) {
      padding-bottom: 3%;
    }
    @include breakpoint(mobile){
      padding: 0 8.2%;
      padding-bottom: 4.5%;
      padding-top: 12%;
    }
  }
  .b-service__element {
    width: 33%;
    vertical-align: top;
    padding:0 3%;
    display: inline-block;
    text-align: left;
    &:nth-of-type(1){
      padding-left:0;
    }
    &:nth-of-type(3){
      padding-right:0;
      padding-left:8%;
    }
    @include breakpoint(mobile) {
      width: 100%;
      padding: 0;
    }
  }
  .b-service__element__nbr {
    font-size: 41px;
    margin-bottom: 2%;
    // padding-left: 3%;
    color:#b9c8cf;
    @include breakpoint(typoMax){
      font-size: cvp(41px,2050px);
    }
    @include breakpoint(tablet) {
      float: left;
      font-size: cvp(27px, 768px);
    }
    @include breakpoint(mobile) {
      font-size: cvp(39px,360px);
      float: left;
      margin-right: 4%;
    }
  }
  .b-service__element__heading {
    line-height: 56px;
    margin-bottom: -1%;
    font-size: 26px;
    text-transform: uppercase;
    color: $cyan;
    @include breakpoint(typoMax){
      font-size: cvp(26px,2050px);
      line-height: cvp(56px,2050px);
    }
    @include breakpoint(tablet) {
      font-size: 17px;
      margin-left: 16%;
      margin-top: 5%;
      margin-bottom: 6%;
    }
    @include breakpoint(mobile) {
      font-size: 30px;
      line-height: 34px;
      // margin-bottom: 13%;
      // color: #222;
      font-size: cvp(20px,330px);
      margin-top: 1.7%;
      margin-bottom: 1%;
      &:after {
        width: 43px;
        height: 4px;
        margin-top: 15px;
      }
    }
  }
  .b-service__element__text {
    font-size: 36px;
    line-height: 45px;
    color:#222;
    @include breakpoint(typoMax){
      font-size: cvp(36px,2050px);
      line-height: cvp(45px,2050px);
    }
    @include breakpoint(tablet) {
      font-size: cvp(20px, 768px);
      line-height: cvp(23px, 768px);
    }
    @include breakpoint(mobile) {
      font-size: cvp(24px,330px);
      line-height: cvp(26px,330px);
      margin-bottom: 15%;
      text-align: left;
    }
  }
  .b-service__button {
    margin-top: 2.7%;
    color: #222;
    background: $yellow;
    display: inline-block;
    padding: 1.6% 5.7%;
    margin-bottom: 4.1%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    @include transition(all 300ms $sharpCurve);
    &:hover {
      background: #222;
      color:white;
    }
    @include breakpoint(typoMax){
      font-size: cvp(22px,2050px);
    }
    @include breakpoint(tablet) {
      margin-top: 0.6%;
      font-size: cvp(15px, 768px);
      padding: 2% 6.8%;
    }
    @include breakpoint(mobile) {
      display: block;
      font-size: cvp(15px,330px);
      padding: 5.6% 6%;
      width: 82%;
      text-align: center;
      margin: 0 auto;
      margin-top: 15%;
      margin-bottom: 17%;
    }
  }
  @include breakpoint(tablet){
    background-size: 125%;
  }
  @include breakpoint(mobile) {
    overflow: hidden;
    background-image: none;
    background: transparent;
  }
}
