.b-service--insights {
  // padding:20px;
  // max-height: 700px;
  overflow: hidden;
  background: #ed2b4a;
  .b-service__logo {
    width: 71%;
    margin-bottom: 5.2%;
    margin-top: 11.6%;
  }
  .b-service__media {
    overflow: hidden;
    position: relative;
    float: left;
    width: 34.8%;
    margin-top: 5%;
    img {
      width: 100%;
    }
  }
  .b-service__media__mask {
    background: red;
    opacity:0.6;
    position: absolute;
    width: 80%;
    height: 80%;
    left:10%;
    top:10%;
  }
  .b-service__media__pre-heading {
    font-size:35px;
    color:$yellow;
  }
  .b-service__media__heading {
    font-size:50px;
    color:white;
  }
  .b-service__media__year {
    font-size: 50px;
    color:$yellow;
  }
  .b-service__content {
    width: 60.6%;
    float: left;
    padding-left: 8%;
    .b-service__heading {
      font-weight: bold;
      color: white;
      width: 53%;
      font-size:68px;
      margin-bottom: 5%;
      @include breakpoint(typoMax){
        font-size:cvp(68px, 2050px);
      }
      &:after {
        width: 60px;
        height:5px;
        content:'';
        background: red;
        display:block;
        margin-top: 10%;
      }
    }
  }
  .b-service__text {
    font-size: 31px;
    line-height: 34px;
    margin-bottom: 20px;
    color: white;
    width: 53%;
    @include breakpoint(typoMax){
      font-size:cvp(31px, 2050px);
      line-height:cvp(34px, 2050px);
    }
  }
  .b-service__content__button {
    margin-top: 7%;
    border: 3px solid white;
    display: inline-block;
    padding: 3.3% 9.3%;
    color: white;
    font-size: 20px;
    margin-bottom: 14%;
    font-weight: bold;
    @include breakpoint(typoMax){
        font-size:cvp(20px, 2050px);
    }
  }
}
