.b-service--training {
  background-color: #03c4c4;
  background-image: url(../../assets/img/bck.jpg);
  text-align: center;
  padding-top:40px;
  margin-bottom: 50px;
  .b-service__logo {
    margin-bottom: 6%;
    width: 39%;
    margin-top: 1.7%;
    @include breakpoint(mobile) {
      margin-top: 0;
      margin-bottom: 11%;
      width: 86%;
    }
  }
  .b-service__division {
    width: 100%;
    padding:0 5%;
  }
  .b-service__element {
    width: 33%;
    padding:0 3%;
    display: inline-block;
    text-align: left;
    @include breakpoint(mobile) {
      width: 100%;
      padding: 0;
    }
  }
  .b-service__element__nbr {
    font-size: 53px;
    margin-bottom: 1%;
    // padding-left: 3%;
    color:$yellow;
    @include breakpoint(typoMax){
      font-size: cvp(53px,2050px);
    }
    @include breakpoint(mobile) {
      font-size: 34px;
    }
  }
  .b-service__element__heading {
    font-size: 49px;
    line-height: 56px;
    margin-bottom: 40px;
    &:after {
      width: 60px;
      height:5px;
      content:'';
      background: white;
      display:block;
      opacity: 0.5;
      margin-top: 30px;
    }
    @include breakpoint(typoMax){
      font-size: cvp(49px,2050px);
      line-height: cvp(56px,2050px);
    }
    @include breakpoint(mobile) {
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 13%;
      &:after {
        width: 43px;
        height: 4px;
        margin-top: 15px;
      }
    }
  }
  .b-service__element__text {
    font-size: 27px;
    line-height: 45px;
    @include breakpoint(typoMax){
      font-size: cvp(27px,2050px);
      line-height: cvp(45px,2050px);
    }
    @include breakpoint(mobile) {
      display: none;
    }
  }
  .b-service__button {
    margin-top: 5.3%;
    color: #fef339;
    border: 3px solid #fef339;
    display: inline-block;
    padding: 1.6% 2.3%;
    margin-bottom: 4.1%;
    font-size: 22px;
    cursor:pointer;
    @include transition(all 300ms $sharpCurve);
    &:hover {
      background: #fef339;
      color:#222;
    }
    @include breakpoint(typoMax){
      font-size: cvp(22px,2050px);
    }
  }
}
