.b-video-block {
  width: 100%;
  margin-bottom: 3%;
  overflow: hidden;
  background: white;
}
.b-video-block__media {
  float: left;
  width: 55%;
  video {
    width: 100%;
  }
  @include breakpoint(mobile){
    width: 100%;
  }
}
.b-video-block__content {
  float: left;
  width: 45%;
  padding: 3%;
  padding-top: 8%;
  padding-left: 7%;
  @include breakpoint(mobile){
    width: 100%;
  }
}
