.b-button__wrap {
  width: 100%;
  text-align:center;
  float: left;
  .b-button {
    display:inline-block;
    float:none;
  }
}
.b-button {
  color: #222;
  background: $yellow;
  -webkit-appearance:none;
  outline:none;
  border:none;
  display: inline-block;
  padding: 11px 37px;
  margin-bottom: 4.1%;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  @include transition(all 300ms $sharpCurve);
  &:hover {
    background: white;
    color:#222;
  }
  @include breakpoint(typoMax){
    // font-size: cvp(25px,2050px);
  }
  @include breakpoint(mobile) {
    display: block;
    font-size: 15px;
    padding: 5.6% 6%;
    width: 82%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 17%;
    padding: 6% 8%;
  }
}
.b-button--red {
  @extend .b-button;
  background:$red;
  color:white;
}
