.footer {
  background: $base-color;
  width: 100%;
  float: left;
  color:white;
  text-align: center;
  z-index: 0;
  padding-bottom: 11%;
  padding-top:9%;
  position: relative;
  a {
    color: inherit;
  }
  &:before {
    width: 100%;
    height: 42%;
    content: '';
    display: none;
    position: absolute;
    background: $base-color;
    /* top: -50%; */
    left: 0;
    z-index: -1;
    transform: skewY(3.6deg) translateY(-50%);
    @include breakpoint(mobile) {
      display: none;
    }
  }
  &.footer--flat {
    &:before {
      display: none;
    }
  }
  @include breakpoint(mobile) {
    overflow: hidden;
  }
}
.footer__wrap {
  width: 34%;
  margin:0 auto;
  // overflow: hidden;
  @extend .clearfix;
  @include breakpoint(laptop) {
    width: 42%;
  }
  @include breakpoint(tablet) {
    width: 89%;
  }
  @include breakpoint(mobile) {
    width: 100%;
  }
}
.footer-social {
  margin-bottom: 13%;
}
.social__heading {
  position: relative;
  top: -30px;
  font-size: 20px;
  color: $footer-gray;
  @include breakpoint(typoMax){
    font-size: cvp(20px, 2050px);
  }
  @include breakpoint(laptop) {
    font-size: cvp(22px, 2050px);
  }
  @include breakpoint(tablet) {
    font-size: cvp(19px, 768px);
  }
  @include breakpoint(mobile) {
    top:0;
    padding-top: 12%;
    margin-bottom: 4%;
    font-size: 20px;
  }
  &:after {
    width: 22px;
    background: $footer-gray;
    display: block;
    height: 2px;
    content:'';
    margin:15px auto 0px;
    position: relative;
    top:5px;
    @include breakpoint(tablet) {
      display: none;
    }
  }
}
  .social__link {
    display: inline-block;
    width: 30px;
    margin: 10px;
    img {
      height: 25px;
    }
  }
.social__links {
  position: relative;
}
.footer__logo {
  width: 13%;
  float: left;
  opacity: 0.09;
  margin-bottom: 7%;
  @include breakpoint(tablet) {
    width: 19%;
  }
  @include breakpoint(mobile) {
    width: 27%;
    margin-left: 6%;
    margin-top: 16%;
  }
  @include breakpoint(laptop) {
      width: 15%;
  }
}
#footer__nav > ul {
  margin-bottom: 7.8%;
}
#footer__nav > ul > li {
  display: inline-block;
  text-align: left;

  &:first-child {
    float: left;
  }
  &:nth-child(3) {
    float: right;
  }
  @include breakpoint(mobile) {
    float: left;
    width: 70%;
    margin-right: 21%;
    margin-left: 9%;
    margin-bottom: 6%;

  }
}
#footer__nav > ul > li > ul > li {
  margin-bottom: 15px;
  font-size: 20px;
  color: white;

  @include breakpoint(typoMax){
    font-size: cvp(20px,2050px);
  }
  @include breakpoint(laptop) {
      font-size: cvp(20px, 2050px);
  }
  @include breakpoint(tablet) {
    font-size: cvp(17px, 768px);
  }
  @include breakpoint(mobile) {
    font-size: 16px;
  }
}
#footer__nav > ul > li > span {
  color: $footer-gray;
  display: block;
  font-size: 20px;
  margin-bottom: 30px;
  @include breakpoint(typoMax){
    font-size: cvp(17px,2050px);
  }
  @include breakpoint(laptop) {
    font-size: cvp(22px, 2050px);
  }
  @include breakpoint(tablet) {
    font-size: cvp(17px, 768px);
  }

  @include breakpoint(mobile) {
    font-size: cvp(18px, 330px);
    margin-bottom: 9%;
  }
  &:after {
    width: 22px;
    height: 2px;
    background: $footer-gray;
    content:'';
    display:block;
    margin-top:15px;
    @include breakpoint(mobile) {
      margin-top:10px;
      width: 18px
    }
  }
}
.footer__copyright {
  width: 100%;
  float: left;
  text-align: left;
  margin-top: 2%;
  font-size: 13px;
  color: $footer-gray;
  .arrow-top {
    margin-left:10px;
    position: relative;
    // top:-3px;
  }
  span {
    color:white;
  }
  p {
    &:first-child{
      float: left;
      @include breakpoint(mobile) {
        margin-top: 40%;
        margin-left: 6%;
      }
    }
    // &:nth-child(2){
    //   float: right;
    //   cursor: pointer;
    //   font-size: 15px;
    //   @include breakpoint(typoMax){
    //     font-size: cvp(15px,2050px);
    //   }
    // }
  }
  @include breakpoint(typoMax){
    font-size: cvp(13px,2050px);
  }
  @include breakpoint(laptop) {
    font-size: cvp(16px, 2050px);
  }
  @include breakpoint(tablet) {
    font-size: cvp(13px, 768px);
  }
  @include breakpoint(mobile) {
    font-size: 12px;
    width: 67%;
    position: relative;
  }
}
.footer__back-to-top {
  float: right;
  cursor: pointer;
  font-size: 15px;
  @include breakpoint(typoMax){
    font-size: cvp(15px,2050px);
  }
  @include breakpoint(laptop) {
    font-size: cvp(16px, 2050px);
  }
  @include breakpoint(tablet) {
    font-size: cvp(13px, 768px);
  }
  @include breakpoint(mobile) {
    position: absolute;
    right: 9%;
    font-size: 17px;
    top: 0;
  }
}
