.footer {
  background: $base-color;
  width: 100%;
  color:white;
  text-align: center;
  z-index: 0;
  padding-bottom: 6%;
  position: relative;
  &:before {
    width: 100%;
    height: 42%;
    content: '';
    display: block;
    position: absolute;
    background: $base-color;
    /* top: -50%; */
    left: 0;
    z-index: -1;
    transform: skewY(3.6deg) translateY(-50%);  }
}
.footer__wrap {
  width: 34%;
  margin:0 auto;
}
.footer-social {
  margin-bottom: 9%;
  .footer-social__heading {
    position: relative;
    top: -30px;
    font-size: 17px;
    color: #9b9b9b;
    @include breakpoint(typoMax){
      font-size: cvp(17px, 2050px);
    }
    &:after {
      width: 22px;
      background: #9b9b9b;
      display: block;
      height: 2px;
      content:'';
      margin:15px auto 0px;
      position: relative;
      top:5px;
    }
  }
  .footer-social__link {
    display: inline-block;
    width: 30px;
    margin: 10px;
    img {
      height: 25px;
    }
  }
}
.footer__logo {
  width: 13%;
  float: left;
  opacity: 0.09;
  margin-bottom: 20px;
}
.footer__nav {
  margin-bottom: 7.8%;
}
.footer__nav__item {
  display: inline-block;
  text-align: left;

  &:first-child {
    float: left;
  }
  &:nth-child(3) {
    float: right;
  }
}
.footer__nav__link {
  margin-bottom: 15px;
  font-size: 15px;
  color: white;
  &:first-child {
    color: #9b9b9b;
    font-size: 17px;
    margin-bottom: 30px;
    @include breakpoint(typoMax){
      font-size: cvp(17px,2050px);
    }
    &:after {
      width: 22px;
      height: 2px;
      background: #9b9b9b;
      content:'';
      display:block;
      margin-top:15px;
    }
  }
  @include breakpoint(typoMax){
    font-size: cvp(15px,2050px);
  }
}
.footer__copyright {
  width: 100%;
  float: left;
  text-align: left;
  margin-top: 2%;
  font-size: 13px;
  color: #9b9b9b;
  .arrow-top {
    margin-left:10px;
    position: relative;
    top:-3px;
  }
  span {
    color:white;
  }
  p {
    &:first-child{
      float: left;
    }
    &:nth-child(2){
      float: right;
      cursor: pointer;
      font-size: 15px;
      @include breakpoint(typoMax){
        font-size: cvp(15px,2050px);
      }
    }
  }
  @include breakpoint(typoMax){
    font-size: cvp(13px,2050px);
  }
}
