.header__wrap {
  height: 97px;
}
.header {
  width: 100%;
  z-index: 999;
  height: 97px;
  position: relative;
  // background: #000;
  .wrapper {
    height: 100%;
  }
  @include breakpoint(tablet) {
    background: white;
    height: auto;
    @include transition(all 400ms);
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    padding:2% 0;
    &.active {
      z-index: 2;
      background: #222;
      .header__logo {
        opacity: 0;
      }
      .header__logo--mobile {
        opacity: 1;
      }
      .header__nav {
        background: #222;
      }
      .header__links {
        opacity: 1;
      }
      .nav-icon {
        background:url(../../assets/img/close-nav.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
.nav-icon {
  display: none;
  width: 40px;
  height: 40px;
  background:url(../../assets/img/menu-ico.svg);
  background-repeat: no-repeat;
  background-position: center;
  // background: red;
  @include breakpoint(tablet){
    display: block;
    position: absolute;
    right:2%;
    top:23%;
  }
}
.header__logo {
  width: 150px;
  margin-top: 14px;
  float: left;
  @include breakpoint(tablet) {
    margin-top:3px;
    // display: none;
    @include transition(all 400ms);
    opacity: 1;
  }
}
.header__logo--mobile {
  @extend .header__logo;
  display: none;
  @include breakpoint(tablet){
    display: block;
    position: absolute;
    @include transition(all 400ms);
    opacity: 0;
  }
}
.header__links {
  float: left;
  margin: 0;
  margin-left: 9%;
  padding: 33px 0;
  @include breakpoint(tablet) {
    z-index: -1;
    left:0;
    color: white;
    width: 100%;
    margin:0;
    opacity:0;
    padding: 0;
    padding-left: 5%;
    overflow: hidden;
  }
}
.header__nav {
  transition: background 400ms, max-height 500ms;

  @include breakpoint(tablet){
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top:100%;
    width: 100%;
    background: #fff;
    left:0;
  }
}
.active .header__nav {
  @include breakpoint(tablet){
    max-height: 1125px;
  }
  @include breakpoint(mobile){
    max-height: 750px;
  }
}
.header__link {
  display:inline-block;
  margin:0 20px;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  cursor:pointer;
  position:relative;
  &:after {
    width: 0%;
    position: relative;
    left:50%;
    content:"";
    height:1px;
    top:-4px;
    background:#000;
    display:block;
    @include transition ("width 200ms #{$cubic-bezier1}, left 200ms #{$cubic-bezier1}"  );
  }
  &:hover {
    &:after {
      left:0%;
      width: 100%;
    }
  }
  @include breakpoint(typoMax) {
    font-size:cvp(16px, 2050px);
  }
  @include breakpoint(tablet) {
    display: block;
    margin-left: 0;
    font-size: 22px;
    margin-bottom: 1.7%;
    &:hover {
      &:after {
        left:0%;
        width: 100%;
        display: none;
      }
    }
  }
}
.header-social {
  float: left;
  background: #1a1a1a;
  margin-top: 8%;
  padding-left: 5%;
  padding-bottom: 4.9%;
  display: none;
  width: 100%;
  // opacity: 0.5;
  .social__heading {
    top: 0;
    padding-top: 6%;
    margin-bottom: 4%;
    font-size: 19px;
  }
  @include breakpoint(tablet){
    display:block;
  }
}
.header__link--mobile-heading {
  display: none;
  @extend .header__link;
  @include breakpoint(tablet){
    margin-bottom: 4%;
    display: block;
    font-size: 17px;
    color:#9b9b9b;
    margin-top: 6%;
    border-bottom:1px solid #363333;
    &:first-child {
      margin-top: 9.6%;
    }
  }
}
