.header__wrap {
  // height: 97px;
  @include breakpoint(tablet){
    height: 208px;
  }
  @include breakpoint(mobile){
    height: auto;
  }
}
.header {
  width: 100%;
  z-index: 999;
  // height: 97px;
  position: relative;
  // background: #000;
  .wrapper {
    height: 100%;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  @include breakpoint(tablet) {
    background: white;
    height: 100%;
    @include transition(all 400ms);
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    padding:2% 0;
    &.active {
      z-index: 2;
      background: #222;
      .header__logo {
        opacity: 0;
      }
      .header__logo--white {
        opacity: 1;
      }
      .header__nav {
        background: #222;
      }
      .header__links {
        opacity: 1;
      }
      .nav-icon {
        background:url(../../assets/img/close-nav.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  @include breakpoint(mobile) {
    height:100px;

  }
}
.nav-icon {
  display: none;
  width: 40px;
  height: 40px;
  background:url(../../assets/img/menu-ico.svg);
  background-repeat: no-repeat;
  background-position: center;
  @include breakpoint(tablet){
    display: block;
    position: absolute;
    right: 2%;
    top: 11%;
    background-size: 76%;
    width: 50px;
    height: 50px;
  }
  @include breakpoint(mobile) {
    right: 0.3%;
    top: 5%;
    background-size:auto;
  }
}
.header__logo {
  width: 11%;
  margin-top: 2.4%;
  float: left;
  position: absolute;
  left: 24.7%;
  @include breakpoint(tablet) {
    float: left;
    margin-top: 0%;
    @include transition(all 400ms);
    opacity: 1;
    width: 30.4%;
    left: 2.8%;
    top: 5%;
  }
  @include breakpoint(mobile){
    width: 47% !important;
    left: 3%;
    top: 6%;
  }
}
.header__logo--white {
  @extend .header__logo;
  opacity: 0;
  @include breakpoint(tablet){
    display: block;
    @include transition(all 400ms);

  }
}
.header__links {
  float: left;
  margin: 4.16% 0;
  margin-left: 42.8%;
  @include breakpoint(tablet) {
    z-index: -1;
    left:0;
    color: white;
    width: 100%;
    margin:0;
    opacity:0;
    padding: 0;
    padding-left: 5%;
    overflow: hidden;
  }
}
.header__nav {
  transition: background 400ms, max-height 500ms;
  overflow: hidden;
  @include breakpoint(tablet){
    max-height: 0;
    position: absolute;
    top:100%;
    width: 100%;
    background: #fff;
    left:0;
  }
}
.active .header__nav {
  @include breakpoint(tablet){
    max-height: 1125px;
  }
  @include breakpoint(mobile){
    max-height: 750px;
  }
}
.header__link {
  display:inline-block;
  margin:0 20px;
  font-size: 20px;
  // height: 30px;
  // line-height: 30px;
  cursor:pointer;
  position:relative;
  &:after {
    width: 0%;
    position: relative;
    left:50%;
    content:"";
    height:1px;
    background:transparent;
    display:block;
    border-bottom:1px solid #222;
    padding-top: 4.7%;
    @include transition ("width 200ms #{$cubic-bezier1}, left 200ms #{$cubic-bezier1}"  );
  }
  &:hover {
    &:after {
      left:0%;
      width: 100%;
    }
  }
  @include breakpoint(typoMax) {
    font-size:cvp(20px, 2050px);
  }
  @include breakpoint(tablet) {
    display: block;
    margin-left: 0;
    font-size: 22px;
    margin-bottom: 1.7%;
    &:hover {
      &:after {
        left:0%;
        width: 100%;
        display: none;
      }
    }
  }
}
.header-social {
  float: left;
  background: #1a1a1a;
  margin-top: 8%;
  padding-left: 5%;
  padding-bottom: 4.9%;
  display: none;
  width: 100%;
  // opacity: 0.5;
  .social__heading {
    top: 0;
    padding-top: 6%;
    margin-bottom: 4%;
    font-size: 19px;
  }
  @include breakpoint(tablet){
    display:block;
  }
}
.header__link--mobile-heading {
  display: none;
  @extend .header__link;
  @include breakpoint(tablet){
    margin-bottom: 4%;
    display: block;
    font-size: 17px;
    color:#9b9b9b;
    margin-top: 6%;
    border-bottom:1px solid #363333;
    &:first-child {
      margin-top: 9.6%;
    }
  }
}
