.header__wrap {
  height: 97px;
}
.header {
  width: 100%;
  z-index: 999;
  height: 97px;
  // background: #000;
  .wrapper {
    height: 100%;
  }
}
.header__logo {
  width: 150px;
  margin-top: 14px;
  float: left;
}
.header__links {
  float: left;
  margin:0 20px;
  margin-left: 17%;
  padding: 33px 0;
}
.header__link {
  display:inline-block;
  margin:0 20px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  cursor:pointer;
  position:relative;
  &:after {
    width: 0%;
    position: relative;
    left:50%;
    content:"";
    height:1px;
    top:-4px;
    background:#000;
    display:block;
    @include transition ("width 200ms #{$cubic-bezier1}, left 200ms #{$cubic-bezier1}"  );
  }
  &:hover {
    &:after {
      left:0%;
      width: 100%;
    }
  }
}
