.header__wrap {
  width:100%;
  opacity: 1;
  height: 0px;
  z-index: 30;
  background: rgba(34,34,34,0);
  @include breakpoint(tablet){
    height: 158px;
    position: absolute;
  }
  @include breakpoint(mobile){
    height: auto;
    position: absolute;
  }
}
.headerAnimation .header__wrap {
  position: fixed;
  @include breakpoint(tablet){
    position: absolute;
  }
}
.header {
  width: 100%;
  z-index: 999;
  position: relative;
  .wrapper {
    height: 100%;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  @include breakpoint(tablet) {
    @include transition(all 400ms);
    background: transparent;
    height: 200px;
    padding:2% 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  @include breakpoint(mobile) {
    height:100px;
  }
}
.nav-icon {
  display: none;
  width: 40px;
  height: 40px;
  background:url(#{$assetpath}img/menu-ico.svg);
  background-repeat: no-repeat;
  background-position: center;
  @include transition(margin 300ms);
  @include breakpoint(tablet){
    display: block;
    position: absolute;
    right: 2%;
    top: 11%;
    background-size: 76%;
    width: 50px;
    height: 50px;
  }
  @include breakpoint(mobile) {
    right: 0.3%;
    top: 5%;
    background-size:auto;
  }
}
.header__logo {
  width: 9%;
  top: 26%;
  opacity: 0;
  float: left;
  position: absolute;
  left: 19.7%;
  @include breakpoint(tablet) {
    float: left;
    margin-top: 0%;
    @include transition(all 400ms);
    opacity: 1;
    width: 30.4%;
    left: 2.8%;
    top: 5%;
  }
  @include breakpoint(mobile){
    width: 47% !important;
    left: 3%;
    top: 6%;
  }
}
.header__logo--white {
  @extend .header__logo;
  opacity: 0;
  @include breakpoint(tablet){
    display: block;
    @include transition(all 400ms);

  }
}
.header__links {
  float: left;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 42.8%;
  opacity: 0;
  @include breakpoint(tablet) {
    z-index: -1;
    left:0;
    color: white;
    width: 100%;
    margin:0;
    opacity:0;
    padding: 0;
    padding-left: 5%;
    overflow: hidden;
  }
}
.header__nav {
  transition: opacity 400ms, padding 400ms;
  overflow: hidden;
  @include breakpoint(tablet){
    max-height: 0;
    position: absolute;
    top:61%;
    width: 100%;
    background: #fff;
    left:0;
    opacity: 0;
  }
  @include breakpoint(tablet){
    top:86%;
   }
}
.header__link {
  display:inline-block;
  margin:0 20px;
  font-size: 20px;
  cursor:pointer;
  position:relative;
  &:after {
    width: 0%;
    position: relative;
    left:50%;
    content:"";
    height:1px;
    background:transparent;
    display:block;
    border-bottom:1px solid #222;
    padding-top: 4.7%;
    @include transition ("width 200ms #{$cubic-bezier1}, left 200ms #{$cubic-bezier1}"  );
    @include breakpoint(tablet) {
      display: none;
    }
  }
  &:hover {
    &:after {
      left:0%;
      width: 100%;
    }
  }
  @include breakpoint(typoMax) {
    font-size:cvp(20px, 2050px);
  }
  @include breakpoint(tablet) {
    display: block;
    margin-left: 0;
    font-size: cvp(25px,768px);
    margin-bottom: 1.7%;
    &:hover {
      &:after {
        left:0%;
        width: 100%;
        display: none;
      }
    }
  }
  @include breakpoint(mobile){
    font-size: cvp(20px,330px);
    line-height: cvp(33px,330px);
  }
}
.header__link--mobile-heading {
  display: none;
  @extend .header__link;
  @include breakpoint(tablet){
    margin-bottom: 4%;
    display: block;
    font-size: cvp(26px,763px);
    color:#9b9b9b;
    margin-top: 6%;
    border-bottom:1px solid #363333;
    &:first-child {
      margin-top: 3.6%;
    }
  }
  @include breakpoint(mobile){
    font-size: cvp(20px,330px);
    line-height: cvp(33px,330px);
  }
}
.header-social {
  float: left;
  background: #1a1a1a;
  margin-top: 8%;
  padding-left: 5%;
  padding-bottom: 4.9%;
  display: none;
  width: 100%;
  .social__heading {
    top: 0;
    padding-top: 6%;
    margin-bottom: 4%;
    font-size: 19px;
  }
  @include breakpoint(tablet){
    display:block;
  }
}
//-- NAV ANIMATION

.header__wrap {
  @include breakpoint(tablet){
    &.opened {
      height: 1000px;
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      z-index: 110;
      height: 100%;
      overflow-y: scroll;
      background: #222;
    }
  }
  @include breakpoint(mobile){
    &.opened {
      height: 1000px;
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      z-index: 110;
      height: 100%;
      overflow-y: scroll;
    }
  }
}
.active {
  @include breakpoint(tablet) {
    z-index: 2;
    background: transparent;
    .header__logo {
      opacity: 0;
      top:10%;
    }
    .header__logo--white {
      opacity: 1;
      top: 10%;
    }
    .header__nav {
      background: transparent;
      opacity: 1;
      max-height: 1125px;
      padding-top:3%;
    }
    .header__links {
      opacity: 1;
    }
    .nav-icon {
      background:url(#{$assetpath}img/close-nav.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 56%;
      margin-top:3%;
    }
  }
  @include breakpoint(mobile) {
    .nav-icon {
      background:url(#{$assetpath}img/close-nav.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
    }
    .header__nav {
      max-height: 750px;
      padding-top:3%;
    }
  }
}
