.wrapper {
  max-width: 1850px;
  width: 100%;
  padding: 0 4%;
  margin:0 auto;
  @include breakpoint(tablet){
    padding:0 3%;
  }
  @include breakpoint(mobile){
    padding:0 4%;
  }
}
.wrapper--big {
  @extend .wrapper;
  // opacity: 0;
  max-width: 2050px;
  padding-top: 5%;
  @extend .clearfix;
  @include breakpoint(laptop) {
    padding-top: 5%;
  }
  @include breakpoint(tablet){
    padding-top: 20%;
  }
}
.section {
  width: 100%;
}
.section--about {
  width: 100%;
  float: left;
  margin-bottom: 4.4%;
}
.section--video {
  @extend .section;
  text-align: center;
  float: right;
}
.section--events {
  background:#fef339;
  padding-bottom: 20%;
  position: relative;
  display: none;
  @include breakpoint(mobile) {
    background: white;
    padding: 0 4%;
  }
}
.section--conference {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 12.5%;
  padding-bottom: 25%;
  .b-conference:nth-child(3){
    float: right;
  }
  &:after {
    width: 200%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    background: #fef339;
    top: 47%;
    left: -34%;
    z-index: -1;
    transform: rotate(-170.3deg);
    @include breakpoint(mobile) {
      display: none;
    }
  }
  @include breakpoint(mobile){
    padding:0 2%;
  }
}
.section--insights {
  margin-bottom: 4.4%;
  float: left;
  width: 100%;
}
body {
  // padding-bottom: 500px;
}
