html {
  &.opened {
    overflow: hidden;
    height: 100%;
    body {
      height: 100%;
      overflow: hidden;
    }
  }
}
.wrapper {
  max-width: 1850px;
  overflow: hidden;
  width: 100%;
  padding: 0 4%;
  margin:0 auto;
  @include breakpoint(tablet){
    padding:0 3%;
  }
  @include breakpoint(mobile){
    padding:0 4%;
  }
}
.wrapper--big {
  @extend .wrapper;
  // opacity: 0;
  // margin-top:10%;
  max-width: 2050px;
  padding-top: 5%;
  @extend .clearfix;
  @include breakpoint(laptop) {
    padding-top: 5%;
  }
  @include breakpoint(tablet){
    padding-top: 20%;
  }
}
.wrapper--small {
  @extend .wrapper;
  // max-width: 1600px;
  padding: 0px 19.5%;
  // overflow: hidden;
  @include breakpoint(mobile) {
    padding:0 3%;
  }
}
.wrapper--xsmall {
  @extend .wrapper;
  // max-width: 1600px;
  padding: 0px 25%;
  // overflow: hidden;
  @include breakpoint(mobile) {
    padding:0 3%;
  }
}
.section {
  width: 100%;
}
.section--about {
  width: 100%;
  float: left;
  margin-bottom: 4.4%;
}
.section--video {
  @extend .section;
  text-align: center;
  float: right;
}
.section--events {
  background:#fef339;
  padding-bottom: 20%;
  position: relative;
  display: none;
  @include breakpoint(mobile) {
    background: white;
    padding: 0 4%;
  }
}
.section--conference {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 12.5%;
  padding-bottom: 25%;
  .b-conference:nth-child(3){
    float: right;
  }
  &:after {
    width: 200%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    background: #fef339;
    top: 47%;
    left: -34%;
    z-index: -1;
    transform: rotate(-170.3deg);
    @include breakpoint(mobile) {
      display: none;
    }
  }
  @include breakpoint(tablet){
    padding:0 2.5%;
    padding-bottom: 20%;
  }
  @include breakpoint(mobile){
    padding:0 2%;
    padding-bottom: 25%;
  }
}
.section--insights {
  margin-bottom: 4.4%;
  float: left;
  width: 100%;
}
.section--workshops {
  // margin-bottom: 4.4%;
  float: left;
  width: 100%;
  background: #f6f6f6;
  padding-top:8.7%;
  h2 {
    margin-bottom: 0%;
  }

}
.section--reviews {
  padding-top:8.7%;
  width: 100%;
  overflow: hidden;
  background: #f6f6f6;
}
.section--training-programs {
  width:100%;
  overflow: hidden;
  background: #f6f6f6;
  padding-top: 7.7%;
  padding-bottom: 7%;
}
.section--video-testimonials {
  padding-top:7%;
  width: 100%;
  float: left;
}
.section--header {
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  // height: 20%;
  overflow: hidden;
  img {
    width: 100%;
  }
  h1 {
    position: absolute;
    top:50%;
    padding:0;
    width: 100%;
    transform:translateY(-50%);
    margin:0;
    span {
      font-family: $text__family--Roboto-Condensed;
      font-weight: 100;
    }
    @include breakpoint(tablet){
      margin-top:10%;
      position: static;
      top:auto;
      transform:none;
    }
  }
  @include breakpoint(tablet){

  }
  @include breakpoint(mobile) {
  }
}
.section--my-journey {
  overflow: hidden;
  background-image:url(#{$assetpath}img/yellow-journey-bck.jpg);
  padding: 7% 24.3%;
}
body {
  // padding-bottom: 500px;
}
