.wrapper {
  max-width: 1850px;
  width: 100%;
  padding: 0 4%;
  margin:0 auto;
}
.wrapper--big {
  @extend .wrapper;
  // opacity: 0;
  max-width: 2050px;
  padding-top:100px;
  @extend .clearfix;
}
.section {
  width: 100%;
}
.section--video {
  @extend .section;
  text-align: center;
}
.section--events {
  background:#fef339;
  padding-bottom: 20%;
  position: relative;
  &:after {
    width: 200%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    background: #fef339;
    top: -21%;
    left: -34%;
    z-index: -1;
    transform: rotate(13.3deg);
    @include breakpoint(mobile) {
      display: none;
    }
  }
  @include breakpoint(mobile) {
    background: white;
    padding: 0 4%;
  }
}
.section--conference {
  overflow: hidden;
  .b-conference:nth-child(3){
    float: right;
  }
}
body {
  // padding-bottom: 500px;
}
