html {
  &.opened {
    overflow: hidden;
    height: 100%;
    body {
      height: 100%;
      overflow: hidden;
    }
  }
}
.wrapper {
  max-width: 1600px;
  overflow: hidden;
  width: 100%;
  padding: 0 4%;
  margin:0 auto;
  @include breakpoint(tablet){
    padding:0 3%;
  }
  @include breakpoint(mobile){
    padding:0 4%;
  }
}
.wrapper--big {
  @extend .wrapper;
  // opacity: 0;
  // margin-top:10%;
  max-width: 1600px;
  // padding-top: 5%;
  @extend .clearfix;
  @include breakpoint(laptop) {
    // padding-top: 5%;
  }
  @include breakpoint(tablet){
    padding-top: 20%;
  }
}
.wrapper--small {
  @extend .wrapper;
  max-width: inherit;
  // max-width: 1600px;
  padding: 0px 19.5%;
  // overflow: hidden;
  @include breakpoint(laptop) {
    padding: 0% 16.5%;
  }
  @include breakpoint(tablet) {
    padding: 0px 5.5%;
  }
  @include breakpoint(mobile) {
    padding:0 3%;
  }
}
.wrapper--xsmall {
  @extend .wrapper;
  // max-width: 1600px;
  max-width: inherit;
  padding: 0px 25%;
  // overflow: hidden;
  @include breakpoint(laptop) {
    padding: 0px 20.5%;
  }
  @include breakpoint(tablet) {
    padding: 0px 10.5%;
  }
  @include breakpoint(mobile) {
    padding:0 3%;
  }
}
.section {
  width: 100%;
}
.section--about {
  // width: 100%;
  // float: left;
  margin-bottom: 5%;
}
.section--video {
  @extend .section;
  text-align: center;
  float: right;
}
.section--upcoming-events {
  position: relative;
  // display: none;
  @include breakpoint(mobile) {
    background: white;
    padding: 0 4%;
  }
}
.section--conference {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 12.5%;
  padding-bottom: 3%;
  .b-conference:nth-child(3){
    float: right;
  }
  &:after {
    width: 200%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    background: #fef339;
    top: 37%;
    left: -34%;
    z-index: -1;
    visibility: visible;
    transform: rotate(-170.3deg);
    @include breakpoint(mobile) {
      display: none;
    }
  }
  @include breakpoint(tablet){
    padding:0 2.5%;
    padding-bottom: 20%;
  }
  @include breakpoint(mobile){
    padding:0 4%;
    padding-bottom: 25%;
  }
}
.section--insights {
  margin-bottom: 4.4%;
  // float: left;
  width: 100%;
}
.section--insight-video {
  padding-top: 5%;
  background: #f6f6f6;
  padding-bottom: 5%;
  background: url(#{$assetpath}img/ins-video-bck.jpg);
  .b-video-block {
    background: transparent;
    &__content {
      padding-top: 2%;
    }
  }
}
.section--workshops {
  // margin-bottom: 4.4%;
  // float: left;
  // width: 100%;
  background: #f6f6f6;
  padding-top:8.7%;
  h2 {
    margin-bottom: 0%;
    @include breakpoint(mobile){
      margin-bottom: 5%;
    }
  }
  @include breakpoint(mobile){
    padding-top: 15%;
  }
}
.section--process-method {
  // float: left;
  // width: 100%;
  margin-bottom: 10%;
  overflow: hidden;
  h2 {
    margin-bottom: 2%;
  }
  h3 {
    margin-bottom: 10%;
  }
  padding-top:5%;
}
.section--reviews {
  padding-top:8.7%;
  width: 100%;
  overflow: hidden;
  background: #f6f6f6;
}
.section--reviews--white {
  @extend .section--reviews;
  background: white;
}
.section--training-programs {
  width:100%;
  overflow: hidden;
  background: #f6f6f6;
  padding-top: 7.7%;
  padding-bottom: 7%;
  .education-list-preamble {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }
  &__info {
    text-align: center;
    width: 80%;
    margin:0 auto;
    margin-bottom: 8%;
  }
}
.section--video-testimonials {
  padding-top:7%;
  // width: 100%;
  // float: left;
  padding-bottom: 8%;
  @include breakpoint(mobile){
    padding-top: 20%;
  }
}
.section--others {
  // float: left;
  padding-top: 10%;
  // width: 100%;
  @include breakpoint(mobile){
    padding: 0 4%;
    padding-top: 15%;
  }
}
.section--consultancy-wos {
  padding-top: 8.4%;
  padding-bottom: 5%;
  margin-top: 7.7%;
  margin-bottom:5%;
  position: relative;
  @extend .b-line--top;
  @extend .b-line--bottom;
  .col-md-6:nth-of-type(1){
    img {
      margin-bottom: 4.9%;
      height: 33px;
      @include breakpoint(mobile) {
        margin-bottom: 4.9%;
        height: 25px;
      }
    }
    @include breakpoint(mobile) {
      margin-bottom: 9%;
    }
  }
  .col-md-6:nth-of-type(2){
    img {
      margin-bottom: 4.9%;
      height: 33px;
      @include breakpoint(mobile) {
        margin-bottom: 4.9%;
        height: 25px;
      }
    }
  }
  h2.pane-title {
    text-align: center;
    @include breakpoint(mobile) {
      margin-bottom: 16%;
      text-align: left;
    }
  }
  @include breakpoint(mobile){
    padding: 0 4%;
    padding-top: 15%;
  }
}
.section--header {
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  // height: 20%;
  overflow: hidden;
  img {
    width: 100%;
  }
  h1 {
    position: absolute;
    top:50%;
    padding:0;
    width: 100%;
    transform:translateY(-50%);
    margin:0;
    span {
      font-family: $text__family--Roboto-Condensed;
      font-weight: 100;
    }
    @include breakpoint(tablet){
      margin-top:10%;
      position: static;
      top:auto;
      transform:none;
    }
  }
  @include breakpoint(tablet){

  }
  @include breakpoint(mobile) {
  }
}
.section--my-journey {
  overflow: hidden;
  background-image:url(#{$assetpath}img/yellow-journey-bck.jpg);
  padding: 7% 24.3%;
  @include breakpoint(tablet){
    padding: 7% 10%;
  }
  @include breakpoint(mobile){
    padding: 5%;
  }
}
body {
  // padding-bottom: 500px;
}
video {
  max-width: 100%;
  height: auto;
}
.section--events-slim {
  a:nth-of-type(1){
    float: left;
    width: 46%;
    .b-conference {
      width: 100%;
      &__content {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .b-conference__info {
      width:78%;
      @include breakpoint(mobile) {
        width: 74%;
      }
    }
    .b-conference__date {
      @include breakpoint(mobile) {
        padding-left:2%;
      }
    }
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  a:nth-of-type(2){
    float: right;
    width: 46%;
    .b-conference {
      width: 100%;
      &__content {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .b-conference__info {
      width:78%;
      @include breakpoint(mobile) {
        width: 74%;
      }
    }
    .b-conference__date {
      @include breakpoint(mobile) {
        padding-left:2%;
      }
    }
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
}
.section--consultancy-sms {
  margin-bottom:8%;
  h2 {
    margin-bottom: 11%;
  }
}
section.section--consultancy-sms {
  margin-bottom: 10%;
  @include breakpoint(mobile) {
    padding: 0 5%;
  }
}
.home-promotion {
  margin-bottom: 10%;
}
.section--home-education {
  margin-bottom: 4.4%;
  .b-button {
    border:none !important;
  }
  .t-slash {
    background: #03c4c4;
  }
  .b-links {
    padding-top: 10%;
    padding-right: 17%;
    padding-bottom: 13%;
    span {
      color:$yellow;
      text-transform: uppercase;
      a {
        color:$yellow;
        text-transform: uppercase;
        text-decoration: underline;
      }
      &:nth-child(2){
        float: right;
      }
    }
  }
  .t-slash .col-md-6:nth-of-type(2) {
    padding-top: 5.2%;
    background: #03c4c4;
    &:after {
      background: #03c4c4;
    }
  }
  .b-service--training {
    @include breakpoint(mobile) {
      background: none;
    }
  }
}
.section--home-insights  {
  margin-bottom: 4.4%;
}
.section--home-consuntancy {
  margin-bottom: 9%;
}
.section--conference--heading {
  padding: 5.6% 12.4% 0%;
  text-align: center;
  h2 {
    text-align: center;
  }
  @include breakpoint(mobile) {
    padding: 11.2% 4% 0%;
  }
}
.panel-separator {
  display: none;
}
.pane-bean-consultancy-brands {
  padding-bottom: 10%;
}
