.p-list {
  width: 100%;
}
.p-list__item {
  width: 31%;
  float:left;
  &:nth-of-type(3n-1){
    margin-left:3.5%;
    margin-right:3.5%;
  }
  h3 {
    margin-bottom: 13%;
    border-bottom: 3px solid #222;
    padding-bottom: 2%;
  }
}
