@import 'base/reset';
@import 'base/colors';
@import 'base/breakpoints';
@import 'base/functions';
@import 'base/mixins';
@import 'base/typography';
@import 'base/headings';

@import 'layout/header';
@import 'layout/main-layout';
@import 'layout/footer';

@import 'blocks/b-media';
@import 'blocks/b-events';
@import 'blocks/b-main-video';
@import 'blocks/b-service--consultancy';
@import 'blocks/b-service--training';
@import 'blocks/b-service--insights';
@import 'blocks/b-content-sticker';
@import 'blocks/b-conference';

@import 'pages/homepage';


@import 'widgets/w-sidebar-widget';
