.t-contact-us, .t-form {
  padding-bottom: 10%;
  form {
    width: 100%;
    padding:5% 10%;
    padding-top: 0;
    @include breakpoint(mobile) {
      padding:5% 4%;
    }
  }
  h2 {
    font-weight: bold;
    text-align: center;
    font-size: 42px;
    margin-bottom: 7%;
    @include breakpoint(typoMax) {
      font-size: cvp(42px, 2050px);
    }
    @include breakpoint(mobile) {
      font-size: cvp(25px, 330px);
      margin-bottom: 15%;
    }
  }
  .clientside-error {
    width: 80%;
    margin-left: 10%;
    @include breakpoint(mobile) {
      width: 92%;
      margin-left:4%;
    }
  }
  input[type='text'], input[type='email']{
    border-radius: 0;
    width: 100%;
    outline:none;
    margin-bottom: 5%;
    background: #f3f3f3;
    height: 54px;
    line-height: 40px;
    -webkit-appearance:none;
    border:none;
    border-bottom: 4px solid #dadada;
    padding:0 10px;
    font-size:21px;
    &.error {
      border:2px solid red;
    }

    &:hover,
    &:focus,
    &:active {

    }
    @include breakpoint(typoMax) {
      font-size:cvp(21px, 2050px);
    }
    @include breakpoint(mobile) {
      font-size:16px;
      line-height: 24px;
      height: 40px;
    }
  }
  label {
    width: 100%;
    display: block;
    margin-bottom: 1%;
    font-size:28px;
    @include breakpoint(typoMax) {
      font-size:cvp(28px, 2050px);
    }
    @include breakpoint(mobile) {
      font-size:cvp(22px, 330px);
      margin-bottom: 5%;
    }
  }
  input[type='submit'] {
    font-family: $text__family--Roboto-Condensed;
    @extend .b-button--red;
    padding: 18px 37px !important;
    &:hover {
      background: #222;
      color:white;
    }
  }
  .form-actions {
    text-align: center;
  }
  textarea {
    border-radius: 0;
    width: 100%;
    // margin-bottom: 5%;
    -webkit-appearance:none;
    background: #f3f3f3;
    resize:none;
    border:none;
    border-bottom: 4px solid #dadada;
    outline:none;
    padding:10px;
    font-size:21px;
    line-height: 30px;
    @include breakpoint(typoMax) {
      font-size:cvp(21px, 2050px);
      line-height:cvp(30px, 2050px);
    }
    @include breakpoint(mobile) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .b-button {
    margin-top:5%;
  }
  @include breakpoint(mobile) {
    padding-top: 0%;
  }

}
