.t-download-report {
  background: #f2f2f2;
  padding-top: 3%;
  padding-bottom: 0;
  margin-bottom: 7%;
  form {
    padding:0;
    input[type='text'], input[type='email'], textarea{
      background: white;
    }
  }
  input[type='submit']{
    margin-bottom: 1.7% !important;
  }
  .webform-component-textfield, .webform-component-email {
    width: 48%;
    float: left;
    &:nth-of-type(2n+1) {
      margin-left:4%;
      @include breakpoint(mobile){
        margin-left:0;
      }
    }
    @include breakpoint(mobile) {
      width: 100%;
      margin-left:0;
    }
  }
  h2 {
    font-weight: 100;
    text-align: left;
    line-height: 60px;
    font-size: 52px;
    margin-bottom: 0;
    @include breakpoint(typoMax) {
      line-height: cvp(60px, 2050px);
      font-size: cvp(52px, 2050px);
    }
    @include breakpoint(mobile) {
      line-height: cvp(40px, 330px);
      font-size: cvp(35px, 330px);
    }
  }
  .clientside-error {
    width: 100%;
    margin: 0;
    margin-bottom: 4%;
  }
  .webform-component--markup-top {
    margin:0;
    margin-bottom: 5%;
  }
  &:after {
    content: "If you do not receive the confirmation message, \A please check your spam E-mail folder.";
    text-align: center;
    margin-bottom: 5%;
    font-style: italic;
    color: #919191;
    visibility: visible;
    width: 100%;
    display: block;
    height: auto;
    white-space: pre;
    padding-bottom: 3%;
    font-size: 17px;
    line-height: 20px;
    @include breakpoint(typoMax){
      font-size:cvp(17px, 2050px);
      line-height:cvp(20px, 2050px);
    }
    @include breakpoint(mobile){
      font-size:cvp(17px, 330px);
      line-height:cvp(20px, 330px);
      // width: 80%;
      // margin-left:10%;
    }
  }
}
