.t-preamble {
  position: relative;
  // margin-bottom: 12%;
  // @extend .b-line--bottom;
  @include breakpoint(mobile){
    padding: 4%;
    padding-top: 4%;
    &:after {
      display: none;
    }
  }
  h1 {
    text-align: left;
  }
  .row {
    position: relative;
    @extend .clearfix;
  }
  .col {
    float: left;
  }
  .col-6 {
    width: 47%;
    @include breakpoint(mobile){
      width: 100%;
    }
  }
  .col-md-6:nth-of-type(2n-1){
    float: left;
    width: 46%;
    margin-right: 5%;
    padding-top: 7%;
    @include breakpoint(mobile){
      width: 100%;
    }
  }
  .col-md-6:nth-of-type(2n){
    float: left;
    img {
      width: 98%;
      @include breakpoint(mobile){
        width: 94%;
        margin-top: 2%;
      }
    }
    margin-bottom: 12.5%;
    width: 49%;
    @include breakpoint(mobile){
      width: 100%;
    }
  }
}
