.t-slash {
  margin-bottom: 4.4%;
  background: $yellow;
  overflow: hidden;
  position: relative;
  .col-md-6:nth-of-type(1) {
    float: left;
    width: 52%;
    img {
      width: 114%;
      display: block;
    }
    @include breakpoint(tablet) {
      width: 48%;
      img {
        width: 141%;
      }
    }
    @include breakpoint(mobile) {
      width: 100%;
      margin-bottom: 4%;
    }
  }
  .col-md-6:nth-of-type(2) {
    width: 48%;
    padding-top: 2%;
    display: block;
    position: relative;
    float: left;
    z-index: 27;
    background: $yellow;
    &:after {
      display: block;
      width: 100%;
      height: 131%;
      background: #fcee2f;
      content: "";
      position: absolute;
      left: -13%;
      transform: skew(-12.6deg);
      top: 0%;
      z-index: -1;
      @include breakpoint(mobile) {
        display: none;
      }
    }
    @include breakpoint(mobile) {
      width: 100%;
      margin-top:-10;
      margin-bottom: 9%;

    }
    .media img {
      margin-bottom: 2%;
      width: 86%;
      margin-left: 3%;
      @include breakpoint(tablet) {
        width: 94%;
        margin-bottom: 1%;
      }
      @include breakpoint(mobile) {
        width: 91%;
        margin-left: 5%;
        margin-bottom: 4.8%;
      }
    }
    .content >p {
      width: 90%;
      margin-bottom:6%;
      font-size: 34px;
      line-height: 42px;
      padding: 0 6%;
      &--small {
        margin-bottom: 5%;
        @include breakpoint(tablet) {
          margin-bottom: 9%;
        }
      }
      @include breakpoint(typoMax){
        line-height: cvp(42px,2050px);
        font-size: cvp(34px,2050px);
      }
      @include breakpoint(tablet) {
        padding-left: 3%;
        padding-right: 0px;
        font-size: cvp(18px, 768px);
        line-height: cvp(23px, 768px);
        width: 99%;
        margin-bottom: 4%;
      }
      @include breakpoint(mobile) {
        width: 100%;
        padding: 0 3%;
        text-align: center;
        font-size: 18px;
        margin-bottom: 5%;
        line-height: 24px;
        text-align: left;
      }
    }
  }
}
