.t-video {
  background: white;
  padding-top: 7%;
  margin-bottom: 4%;
  @extend .clearfix;
  .col-md-6:nth-of-type(1) {
    float: left;
    width: 55%;
    video {
      width: 100%;
    }
    @include breakpoint(mobile){
      width: 100%;
    }
  }
  .col-md-6:nth-of-type(2) {
    float: left;
    width: 45%;
    padding: 3%;
    padding-top: 8%;
    padding-left: 7%;
    @include breakpoint(mobile){
      width: 100%;
    }
  }
}
