.c-typography {
  h3 {
    font-size: 1.51vw;
    line-height: 1.6vw;
    font-weight: bold;
    font-family: $text__family--Roboto-Condensed;
    margin-bottom: 3.3%;
    text-transform: uppercase;
  }
  h5 {
    font-size: 0.94vw;
    margin-bottom: 3.3%;
  }
  p {
    font-size: 0.93vw;
    line-height: 1.4vw;
    margin-bottom: 7%;
  }
  ul {
    padding-left: 7%;
    margin-bottom: 7%;
  }
  li {
    list-style-type: disc;
    margin-bottom: 3%;
    font-size: 1vw;
    line-height: 1.5vw;
    margin-bottom: 0.8%;
  }
}
