h1 {
  font-size: 79px;
  text-align: center;
  padding: 11.2% 0 3.5%;
  font-family: $text__family--Roboto-Condensed;
  font-weight: bold;
  @include breakpoint(typoMax) {
    font-size: cvp(79px, 2050px);
  }
  @include breakpoint(tablet) {
    font-size:cvp(50px, 768px);
  }
  @include breakpoint(mobile) {
    font-size: cvp(27px, 330px);
  }
}
