h1 {
  font-size: 79px;
  text-align: left;
  padding: 11.2% 0 3.5%;
  font-family: $text__family--Roboto-Condensed;
  font-weight: 100;
  text-transform: uppercase;
  b, strong {
    font-weight: 700;
  }
  span {
    color:$cyan;
    font-weight: 500;
    font-size: 50px;
    @include breakpoint(typoMax) {
      font-size: cvp(50px, 2050px);
    }
    @include breakpoint(laptop) {
      font-size: cvp(50px, 1700px);
    }
    @include breakpoint(mobile){
      font-size: cvp(22px,330px);
      line-height: cvp(38px,330px);
    }
  }
  @include breakpoint(typoMax) {
    font-size: cvp(79px, 2050px);
  }
  @include breakpoint(laptop) {
    font-size: cvp(79px, 1700px);
  }
  @include breakpoint(tablet) {
    font-size:cvp(55px,1024px);
  }
  @include breakpoint(mobile) {
    font-size: cvp(30px, 330px);
    padding-top: 8%;
    padding-bottom: 2%;
  }
}
h2 {
  font-size: 49px;
  text-transform: uppercase;
  text-align: left;
  padding: 11.2% 0 3.5%;
  font-family: $text__family--Roboto-Condensed;
  font-weight: 100;
  margin-bottom: 4%;
  margin-top:0;
  padding-top:0;
  line-height: 53px;
  b, strong {
    font-weight: 700;
  }
  small {
    font-weight: 500;
    font-size: 23px;
    @include breakpoint(typoMax) {
      font-size: cvp(23px, 2050px);
    }
    @include breakpoint(laptop) {
      font-size: cvp(23px, 1700px);
    }
    @include breakpoint(mobile){
      font-size: cvp(18px,330px);
    }
  }
  span {
    color:$cyan;
    font-weight: 500;
    font-size: 2vw;
  }
  @include breakpoint(typoMax) {
    font-size: cvp(49px, 2050px);
    line-height: cvp(53px, 2050px);
  }
  @include breakpoint(laptop) {
    font-size: cvp(49px, 1700px);
    line-height: cvp(53px, 1700px);
  }
  @include breakpoint(tablet){
    font-size: cvp(30px,1024px);
    line-height: cvp(30px,1024px);
  }
  @include breakpoint(mobile){
    font-size: cvp(30px,330px);
    line-height: cvp(30px,330px);
  }
}
h3 {
  @include breakpoint(mobile){
    font-size: cvp(28px, 330px);
    text-align: center;
    margin-bottom: 13%;
  }
}
.b-main-heading {
  margin:0;
  span {
    font-family: $text__family--Roboto-Condensed;
    font-weight: 100;
  }
}
.page-title {
  padding-left:19.5%;
  padding-right:19.5%;
  @include breakpoint(laptop){
    padding-left:16.5%;
    padding-right:16.5%;
  }
  @include breakpoint(tablet) {
    padding-left:5.5%;
    padding-right:5.5%;
  }
  @include breakpoint(mobile){
    padding-left:5%;
    padding-right:5%;
  }
}
