.w-popup-email__wrap {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 999999;
  opacity: 0;
  background: rgba(0,0,0,0.9);
}
.w-popup-email {
  width: 37%;
  position: relative;
  background: #F6F6F6;
  top:56%;
  overflow: hidden;
  transform:translateY(-50%);
  margin:0 auto;
  @include breakpoint(tablet) {
    width: 65%;
  }
  @include breakpoint(mobile) {
    width: 100%;
    height: 100%;
  }

}
.w-popup-email__top {
  float: left;
  width: 100%;
  display: block;
  img {
    width: 100%;
    display: block;
    margin-top:-3px;
    margin-bottom: -2px;
  }
}
.w-popup-email__close-ico {
  background: url("../../assets/img/close-pop-up.png");
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  top:1%;
  right: 1%;
  @include breakpoint(mobile) {
    top:0;
    background-size: 20px;
  }
}
.w-popup-email__bottom {
  float: left;
  width: 100%;
  padding: 6% 9%;
  input, label, textarea {
    width: 100%;
    border-radius: 0;
    -webkit-appearance: none;
  }
  input, textarea {
    outline:none;
    border: 1px solid #ccc;
    &:hover, &:active,&:visited {
      color:inherit;
      border-color:#ccc;
      outline: none;
    }
    font-size: 17px;
    @include breakpoint(typoMax){
      font-size: cvp(18px, 2050px);
    }
  }
  textarea {
    border: 1px solid #ccc;
    margin-top:1%;
    resize: none;
  }
  input {
    height: 48px;
    margin-bottom: 4%;
    margin-top:1%;
  }
  label {
    font-size: 17px;
    margin-bottom: 5px;
    @include breakpoint(typoMax){
      font-size: cvp(19px, 2050px);
    }
  }
  .submit-button {
    display: block;
    width: 28%;
    margin: 0 auto;
    border: none;
    margin-top: 5%;
    font-weight: bold;
    background: #222;
    cursor: pointer;
    color: white;
    &:hover {
      color:white;
    }
    border-radius: 0;
    -webkit-appearance: none;
    @include breakpoint(mobile) {
      font-size: 13px;
      width: auto;
      padding: 4% 10%;
    }
  }
  @include breakpoint(tablet) {
      padding: 6% 6%;
      label, input, textarea {
        font-size: cvp(16px,783px);
      }
  }
  @include breakpoint(mobile) {
      padding: 6% 6%;
      label, input, textarea {
        font-size:1rem;
      }
  }
}
