.w-popup-email__wrap {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 999999;
  opacity: 0;
  background: rgba(0,0,0,0.87);
  label {
    display:block;
  }
  .error {
    color: $red;
    margin-top: -2%;
    margin: 0% 0 3% 0px;
    display: block;
  }
  textarea.error, input.error {
    border:1px solid $red !important;
  }
  .w-popup-email__mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: -110.5%;
    display: block;
    background: #2abec0;
    opacity: 0.61;
    opacity: 0;
    z-index: -1;
    @include prefix(transform, skew(-11.2deg), webkit ms moz o);
  }
  @include breakpoint(mobile) {
    overflow-y: scroll;
  }
}

.w-popup-email {
  width: 37%;
  position: relative;
  top:56%;
  overflow: hidden;
  @include prefix(transform, translateY(-50%), webkit ms moz o);
  margin:0 auto;
  @include breakpoint(tablet) {
    width: 65%;
  }
  @include breakpoint(mobile) {
    width: 100%;
    height: auto;
    top:0;
    @include prefix(transform, translateY(0%), webkit ms moz o);
  }
}
.w-popup-email__top {
  float: left;
  width: 100%;
  display: block;
  &__img {
    width: 100%;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__img--mobile {
    display: none;
  }
  @include breakpoint(mobile){
    &__img {
      display: none;
    }
    &__img--mobile {
      display: block;
      width: 100%;
    }
  }
}
.w-popup-email__close-ico {
  background: url(#{$assetpath}img/close-pop-up.png);
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  top:1%;
  right: 1%;
  @include breakpoint(mobile) {
    top:0;
    background-size: 20px;
  }
}
.w-popup-email__bottom {
  float: left;
  width: 100%;
  padding: 6% 9%;
  background: #F6F6F6;
  input, label, textarea {
    width: 100%;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: $text__family--Roboto;
  }
  input, textarea {
    padding-left:10px;
    outline:none;
    border: 1px solid #ccc;
    &:hover, &:active,&:visited {
      color:inherit;
      border-color:#ccc;
      outline: none;
    }
    font-size: 17px;
    @include breakpoint(typoMax){
      font-size: cvp(18px, 2050px);
    }
  }
  textarea {
    border: 1px solid #ccc;
    margin-top:1%;
    padding-top:10px;
    resize: none;
    line-height: 20px;
    @include breakpoint(typoMax) {
      line-height: cvp(25px, 2050px);
    }
    @include breakpoint(tablet) {
      line-height: cvp(22px, 768px);
    }
    @include breakpoint(mobile) {
      line-height: cvp(22px, 330px);
    }
  }
  input {
    height: 48px;
    margin-bottom: 4%;
    margin-top:1%;
  }
  label {
    font-size: 17px;
    margin-bottom: 5px;
    @include breakpoint(typoMax){
      font-size: cvp(19px, 2050px);
    }
  }
  .submit-button {
    display: block;
    width: 28%;
    margin: 0 auto;
    border: none;
    margin-top: 5%;
    font-weight: bold;
    background: #222;
    font-family: $text__family--Roboto-Condensed;
    cursor: pointer;
    color: white;
    &:hover {
      color:white;
    }
    border-radius: 0;
    -webkit-appearance: none;
    @include breakpoint(mobile) {
      width: auto;
      margin-top:0;
      font-size: 17px;
      padding: 4% 17%;
    }
  }
  @include breakpoint(tablet) {
      padding: 6% 6%;
      label, input, textarea {
        font-size: cvp(16px,783px);
      }
  }
  @include breakpoint(mobile) {
      padding: 8% 6%;
      height: auto;
      overflow: hidden;
      label, input, textarea {
        font-size:1rem !important;
        margin-bottom: 5%;
      }
      textarea {
        height: 36%;
      }
  }
}
