
.w-sidebar-widget {
  // display: none;
  opacity: 0;
  position: fixed;
  // background: red;
  cursor: pointer;
  // padding-left:20px;
  right:0;
  height: 255px;
  z-index: 32999;
  width: 350px;
  overflow: hidden;
  bottom:2%;
  right:-210px;

  // background: rgba(255,255,255,0);
  height: 120px;
  &__left {
    float: left;
    position: relative;
    width: 35%;
    height: 100%;
    & > .after-wrap {
      top: 25%;
      height: 50%;
      position: absolute;
      width: 320%;
      overflow: hidden;
    }
    .after {
      width: 70%;
      height: 100%;
      position: relative;
      background: $cyan;
      left: -74%;
      top:0;
      z-index: -1;
      @include prefix(transform, skew(23deg), webkit ms moz o);
      &--white {
        background: #222;
        z-index: -2;
        width: 100%;
        opacity: 0;
        top:-100%;
          left:-176%;
        @include prefix(transform, skew(0deg), webkit ms moz o);
        // width: 150%;
      }
      @include breakpoint(mobile){
        display: none;
      }
    }
  }
  &__right {
    float: left;
    opacity: 0;
    margin-left:30px;
    height: 100%;
    padding-top: 10.8%;
  }
  &__main-img-wrap {
    width: 100%;
    height: 80%;
    top:10%;
    position: relative;
    // overflow: hidden;
  }
  &__text {
    font-size: 32px;
    line-height: 21px;
    margin-left: 10px;
    color:white;
    &--small {
      font-size: 17px;
      margin-top: 2px;
      color:white;
    }
  }
  &__text-img {
    position: absolute;
    left:4%;
    bottom:0%;
    @include breakpoint(mobile){
      bottom: 9%;
      width: 89%;
      display: none;
    }
  }
  &__chat-img {
    position:absolute;
    right: 0;
    top:0;
    @include breakpoint(mobile){
      width: 30%;
      margin-top: 21px;
    }
  }
  &__button {
    position: absolute;
    float: right;
    right:8px;
    top:50%;
    @include prefix(transform, translateY(-50%), webkit ms moz o);
    img {
      width: 35px;
    }
  }
  &__main-img {
    position: absolute;
    margin-left: 10%;
    top:50%;
    @include prefix(transform, translateY(-50%), webkit ms moz o);
    width: 70%;
    z-index: 8888;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0,0.25);
    border-radius: 50%;
  }
  @include breakpoint(mobile){
    width: 250px;
    right:-156px;
    bottom: -3.7%;
  }
}
// animations

// .w-sidebar-widget {
//     height: 70px;
//     margin-top:30px;
//     // right:100px;
//     width: 300px;
//     overflow: hidden;
//     background: gray;
//     .w-sidebar-widget__right {
//       opacity:1;
//     }
//     .w-sidebar-widget__text-img {
//       opacity: 0;
//     }
//     .w-sidebar-widget__chat-img {
//       opacity: 0;
//     }
//     .w-sidebar-widget__main-img {
//       margin-top:-30px;
//     }
// }

// @-webkit-keyframes glow{
//   0%{box-shadow: 0px 0px 3px 0px  rgba(0, 0, 0,0.2)}
//   40%{box-shadow: 0px 0px 7px 4px rgba(0, 0, 0,0.3)}
//   100%{box-shadow: 0px 0px 3px 0px rgba(0, 0, 0,0.2)}
// }
.header-no-animation {
  .w-sidebar-widget {
    opacity:1;
  }
}
