
.w-sidebar-widget {
  // display: none;
  position: fixed;
  // background: red;
  cursor: pointer;
  // padding-left:20px;
  right:0;
  height: 255px;
  z-index: 32999;
  width: 350px;
  overflow: hidden;
  bottom:2%;
  right:-210px;

  // background: rgba(255,255,255,0);
  height: 120px;
  &__left {
    float: left;
    position: relative;
    width: 35%;
    height: 100%;
    & > .after-wrap {
      top: 25%;
      height: 50%;
      position: absolute;
      width: 320%;
      overflow: hidden;
    }
    .after {
      width: 70%;
      height: 100%;
      position: relative;
      background: $cyan;
      left: -74%;
      top:0;
      z-index: -1;
      transform:skew(23deg);
      &--white {
        background: #222;
        z-index: -2;
        width: 100%;
        opacity: 0;
        top:-100%;
          left:-176%;
        transform:skew(0deg);
        // width: 150%;
      }
    }
  }
  &__right {
    float: left;
    opacity: 0;
    margin-left:30px;
    height: 100%;
    padding-top: 10.8%;
  }
  &__main-img-wrap {
    width: 100%;
    height: 80%;
    top:10%;
    position: relative;
    // overflow: hidden;
  }
  &__text {
    font-size: 32px;
    line-height: 21px;
    margin-left: 10px;
    color:white;
    &--small {
      font-size: 17px;
      margin-top: 2px;
      color:white;
    }
  }
  &__text-img {
    position: absolute;
    left:4%;
    bottom:0%;
  }
  &__chat-img {
    position:absolute;
    right: 0;
    top:0;
  }
  &__button {
    position: absolute;
    float: right;
    right:8px;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    img {
      width: 35px;
    }
  }
  &__main-img {
    position: absolute;
    margin-left: 10%;
    top:50%;
    transform:translateY(-50%);
    width: 70%;
    z-index: 8888;
    -webkit-animation: glow 5s infinite;
    border-radius: 50%;
  }
}
// animations

// .w-sidebar-widget {
//     height: 70px;
//     margin-top:30px;
//     // right:100px;
//     width: 300px;
//     overflow: hidden;
//     background: gray;
//     .w-sidebar-widget__right {
//       opacity:1;
//     }
//     .w-sidebar-widget__text-img {
//       opacity: 0;
//     }
//     .w-sidebar-widget__chat-img {
//       opacity: 0;
//     }
//     .w-sidebar-widget__main-img {
//       margin-top:-30px;
//     }
// }

@-webkit-keyframes glow{
  0%{box-shadow: 0px 0px 3px 0px  rgba(0, 0, 0,0.2)}
  40%{box-shadow: 0px 0px 7px 4px rgba(0, 0, 0,0.3)}
  100%{box-shadow: 0px 0px 3px 0px rgba(0, 0, 0,0.2)}
}
