.w-sidebar-widget {
  position: fixed;
  right:0;
  height: 255px;
  z-index: 32999;
  overflow: hidden;
  top:40%;
  background: rgba(255,255,255,0);
  height: 120px;
  &__left {
    float: left;
    position: relative;
  }
  &__right {
    float: left;
    opacity: 0;
    padding-top: 13px;
    margin-left:30px;
  }
  &__text {
    font-size: 22px;
    opacity: 0;
    &--small {
      font-size: 22px;
    }
  }
  &__text-img {
    position: absolute;
    left:0;
    bottom:-14%;
  }
  &__chat-img {
    position:absolute;
    right: 0;
    top:0;
  }
  &__button {
    position: absolute;
    float: right;
    right:0;
    top:50%;
  }
  &__main-img {
    position: relative;
  }
}
// animations

// .w-sidebar-widget {
//     height: 70px;
//     margin-top:30px;
//     // right:100px;
//     width: 300px;
//     overflow: hidden;
//     background: gray;
//     .w-sidebar-widget__right {
//       opacity:1;
//     }
//     .w-sidebar-widget__text-img {
//       opacity: 0;
//     }
//     .w-sidebar-widget__chat-img {
//       opacity: 0;
//     }
//     .w-sidebar-widget__main-img {
//       margin-top:-30px;
//     }
// }
