.page-contact {
  h1.page-title {
    font-weight: bold;
    font-size: 82px;
    padding-top: 15%;
    padding-left: 23%;
    padding-bottom: 5%;
    @include breakpoint(typoMax) {
      font-size: cvp(82px,2050px);
    }
  }
  h2 {
    margin-bottom: 1%;
    font-weight: normal;
    text-transform: none;
    @include breakpoint(mobile) {
      padding-top: 38%;
      padding-left: 7%;
      font-size: 11vw;
      padding-bottom: 17%;
    }
  }
  .b-button {
    font-family: $text__family--Roboto-Condensed;
  }
  .w-sidebar-widget {
    display: none;
  }
}
