.page-contact {
  h1.page-title {
    font-weight: bold;
    font-size: 82px;
    padding-top: 15%;
    padding-left: 23%;
    padding-bottom: 5%;
    @include breakpoint(typoMax) {
      font-size: cvp(82px,2050px);
    }
    @include breakpoint(mobile) {
      font-size: 10vw;
      padding-top: 11%;
      padding-left: 5%;
      padding-bottom: 5%;
    }
  }
  h2 {
    margin-bottom: 1%;
    font-weight: normal;
    text-transform: none;
    @include breakpoint(mobile) {
      padding-top: 38%;
      padding-left: 7%;
      font-size: 11vw;
      padding-bottom: 17%;
    }
  }
  h2.pane-title {
    @include breakpoint(mobile) {
      text-align: left;
      line-height: 12vw;
      padding-top: 9%;
      padding-left: 2%;
    }
  }
  .b-button {
    font-family: $text__family--Roboto-Condensed;
  }
  .w-sidebar-widget {
    display: none;
  }
  .b-fluid-header__type {
    display: none;
  }
  .b-fluid-header {
    background-position-y: -277%;
  }
}
