.page-detail-education, .page-detail-educationHTP {
  h1 {
    font-size: 66px;
    line-height: 69px;
    text-transform: uppercase;
    text-align: left;
    padding: 11.2% 0 3.5%;
    font-family: $text__family--Roboto-Condensed;
    font-weight: bold;
    margin-bottom: 4%;
    margin-top:0;
    padding-top:0;
    b, strong {
      font-weight: 700;
    }
    small {
      font-weight: 500;
      font-size: 23px;
      @include breakpoint(typoMax) {
        font-size: cvp(23px, 2050px);
      }
      @include breakpoint(laptop) {
        font-size: cvp(23px, 1700px);
      }
      @include breakpoint(mobile){
        font-size: cvp(18px,330px);
      }
    }
    span {
      color:$cyan;
      font-weight: 500;
      font-size: 2vw;
    }
    @include breakpoint(typoMax) {
      font-size: cvp(66px, 2050px);
      line-height: cvp(69px, 2050px);
    }
    @include breakpoint(laptop) {
      font-size: cvp(66px, 1700px);
      line-height: cvp(69px, 1700px);
    }
    @include breakpoint(tablet){
      font-size: cvp(30px,1024px);
      line-height: cvp(30px,1024px);
    }
    @include breakpoint(mobile){
      font-size: cvp(30px,330px);
      line-height: cvp(30px,330px);
    }
  }
  .center-wrapper {
    width: 100%;
    padding:0% 20%;
    @extend .clearfix;
    h2 {
      font-weight: bold;
    }
    @include breakpoint(mobile) {
      padding:0 4%;
      padding-top:10%;
    }
  }
  .content-bumper {
    height: 60vh;
  }
  .b-conference__wrap {
    padding: 10% 12.5%;
    max-width: none;
    @include breakpoint(mobile) {
      padding:5% 4%;
    }
  }
  .panel-2col-stacked .panel-col-first {
    width: 70%;
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  .panel-2col-stacked .panel-col-last {
    width: 30%;
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  .b-fluid-header__vector {
    display: none;
  }
  .education-related-title {
    margin-bottom: 4%;
  }
}
