.page-detail-education {
  .center-wrapper {
    width: 100%;
    padding:0% 20%;
    @extend .clearfix;
    h2 {
      font-weight: bold;
    }
    @include breakpoint(mobile) {
      padding:0 4%;
      padding-top:10%;
    }
  }
  .content-bumper {
    height: 60vh;
  }
  .b-conference__wrap {
    padding: 10% 12.5%;
    max-width: none;
    @include breakpoint(mobile) {
      padding:5% 4%;
    }
  }
  .panel-2col-stacked .panel-col-first {
    width: 70%;
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  .panel-2col-stacked .panel-col-last {
    width: 30%;
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  .b-fluid-header__vector {
    display: none;
  }
  .b-fluid-header__type {
    font-style: normal;
    left: 50%;
    margin-left: 0;
    transform: translateX(-50%);
    text-align: center;
  }
}
