.page-homepage {
  .wrapper--big {
    margin-bottom: 2%;
    @include breakpoint(tablet){
      padding-top: 15%;
    }
    @include breakpoint(mobile){
      padding-top: 8%;
      margin-bottom: 5%;
    }
  }
}
