.page-homepage, .page-home {
  .wrapper--big {
    margin-bottom: 2%;
    &.opened {
      @include breakpoint(tablet){
        margin-top: 158px;
      }
      @include breakpoint(mobile){
        margin-top: 100px;
      }
    }
    @include breakpoint(tablet){
      padding-top: 15%;
    }
    @include breakpoint(mobile){
      margin-bottom: 5%;
      // padding-top: 22%;
      margin-top:0;
    }
  }
  main {
    @include breakpoint(tablet) {
      padding-top:12%;
    }
    @include breakpoint(mobile) {
      padding-top:28%;
    }
  }
  .home-promotion {
    margin-bottom: 10%;
  }
  h2 {
    padding-bottom: 0;
    margin-bottom: 3.3%;
  }
  .w-sidebar-widget {
    opacity: 1;
  }
  .header {
    opacity: 1;
  }
  section.bottom-6 {
    margin-bottom: 10%;
  }
}
