@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);
@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after, .wrapper--big:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none; }

@font-face {
  font-family: 'Uni Sans';
  src: url("/ui/uni-sans-heavy.otf") format("opentype"); }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px; }
  @media (max-width: 2050px) {
    html {
      font-size: 1.14286vw; } }

body {
  color: #222;
  font-family: "Roboto Condensed", sans-serif; }
  @media (max-width: 2050px) {
    body {
      font-size: 1.14286vw; } }

@font-face {
  font-family: 'Press';
  font-style: normal;
  font-weight: 400;
  src: local("Press Start 2P"), local("PressStart2P-Regular"), url(https://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7ozT1DHLc-lgcGofyQSe5eyY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Press';
  font-style: normal;
  font-weight: 400;
  src: local("Press Start 2P"), local("PressStart2P-Regular"), url(https://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o69WAFmVxfVhVkWhl-QDeAk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Press';
  src: url(../../assets/font/PressStart2P.ttf); }

h1 {
  font-size: 79px;
  text-align: center;
  padding: 11.2% 0 3.5%;
  font-family: "Roboto", sans-serif;
  font-weight: bold; }
  @media (max-width: 2050px) {
    h1 {
      font-size: 3.85366vw; } }

.header__wrap {
  height: 97px; }

.header {
  width: 100%;
  z-index: 999;
  height: 97px; }
  .header .wrapper, .header .wrapper--big {
    height: 100%; }

.header__logo {
  width: 150px;
  margin-top: 14px;
  float: left; }

.header__links {
  float: left;
  margin: 0 20px;
  margin-left: 17%;
  padding: 33px 0; }

.header__link {
  display: inline-block;
  margin: 0 20px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  position: relative; }
  .header__link:after {
    width: 0%;
    position: relative;
    left: 50%;
    content: "";
    height: 1px;
    top: -4px;
    background: #000;
    display: block;
    -moz-transition: width 200ms cubic-bezier(0,1,1,1), left 200ms cubic-bezier(0,1,1,1);
    -o-transition: width 200ms cubic-bezier(0,1,1,1), left 200ms cubic-bezier(0,1,1,1);
    -ms-transition: width 200ms cubic-bezier(0,1,1,1), left 200ms cubic-bezier(0,1,1,1);
    -webkit-transition: width 200ms cubic-bezier(0,1,1,1), left 200ms cubic-bezier(0,1,1,1);
    transition: width 200ms cubic-bezier(0,1,1,1), left 200ms cubic-bezier(0,1,1,1); }
  .header__link:hover:after {
    left: 0%;
    width: 100%; }

.wrapper, .wrapper--big {
  max-width: 1850px;
  width: 100%;
  padding: 0 4%;
  margin: 0 auto; }

.wrapper--big {
  max-width: 2050px;
  padding-top: 100px; }

.section, .section--video {
  width: 100%; }

.section--video {
  text-align: center; }

.section--events {
  background: #fef339;
  padding-bottom: 20%;
  position: relative; }
  .section--events:after {
    width: 200%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    background: #fef339;
    top: -9%;
    left: -34%;
    z-index: -1;
    transform: rotate(15deg); }

.section--conference {
  overflow: hidden; }
  .section--conference .b-conference:nth-child(3) {
    float: right; }

.footer {
  background: #222;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 0;
  padding-bottom: 6%;
  position: relative; }
  .footer:before {
    width: 100%;
    height: 42%;
    content: '';
    display: block;
    position: absolute;
    background: #222;
    /* top: -50%; */
    left: 0;
    z-index: -1;
    transform: skewY(3.6deg) translateY(-50%); }

.footer__wrap {
  width: 34%;
  margin: 0 auto; }

.footer-social {
  margin-bottom: 9%; }
  .footer-social .footer-social__heading {
    position: relative;
    top: -30px;
    font-size: 17px;
    color: #9b9b9b; }
    @media (max-width: 2050px) {
      .footer-social .footer-social__heading {
        font-size: 0.82927vw; } }
    .footer-social .footer-social__heading:after {
      width: 22px;
      background: #9b9b9b;
      display: block;
      height: 2px;
      content: '';
      margin: 15px auto 0px;
      position: relative;
      top: 5px; }
  .footer-social .footer-social__link {
    display: inline-block;
    width: 30px;
    margin: 10px; }
    .footer-social .footer-social__link img {
      height: 25px; }

.footer__logo {
  width: 13%;
  float: left;
  opacity: 0.09;
  margin-bottom: 20px; }

.footer__nav {
  margin-bottom: 7.8%; }

.footer__nav__item {
  display: inline-block;
  text-align: left; }
  .footer__nav__item:first-child {
    float: left; }
  .footer__nav__item:nth-child(3) {
    float: right; }

.footer__nav__link {
  margin-bottom: 15px;
  font-size: 15px;
  color: white; }
  .footer__nav__link:first-child {
    color: #9b9b9b;
    font-size: 17px;
    margin-bottom: 30px; }
    @media (max-width: 2050px) {
      .footer__nav__link:first-child {
        font-size: 0.82927vw; } }
    .footer__nav__link:first-child:after {
      width: 22px;
      height: 2px;
      background: #9b9b9b;
      content: '';
      display: block;
      margin-top: 15px; }
  @media (max-width: 2050px) {
    .footer__nav__link {
      font-size: 0.73171vw; } }

.footer__copyright {
  width: 100%;
  float: left;
  text-align: left;
  margin-top: 2%;
  font-size: 13px;
  color: #9b9b9b; }
  .footer__copyright .arrow-top {
    margin-left: 10px;
    position: relative;
    top: -3px; }
  .footer__copyright span {
    color: white; }
  .footer__copyright p:first-child {
    float: left; }
  .footer__copyright p:nth-child(2) {
    float: right;
    cursor: pointer;
    font-size: 15px; }
    @media (max-width: 2050px) {
      .footer__copyright p:nth-child(2) {
        font-size: 0.73171vw; } }
  @media (max-width: 2050px) {
    .footer__copyright {
      font-size: 0.63415vw; } }

.b-media, .b-media--big, .b-media--small, .b-media--middle {
  display: block;
  width: 35%;
  float: left;
  position: relative; }

.b-media--big {
  width: 46.6%;
  margin-right: 3.5%;
  margin-left: 9.3%; }
  .b-media--big .b-content-sticker {
    left: -13.4%;
    top: 12.4%;
    width: 50%;
    height: 74.2%;
    background: #dcebfc; }

.b-media--small {
  width: 36.5%;
  margin-top: 14%;
  margin-left: 0.2%; }
  .b-media--small .b-content-sticker {
    left: 7.7%;
    top: -42.3%;
    width: 64.1%;
    height: 96.1%;
    background: #dcebfc; }

.b-media--middle {
  width: 46%;
  margin-top: 4%;
  margin-left: 34.5%; }
  .b-media--middle .b-content-sticker {
    left: -17%;
    top: 10.4%;
    width: 51%;
    height: 75.2%;
    background: #ed2b4a; }

.b-media__item {
  width: 100%; }
  .b-media__item img {
    width: 100%; }

.b-events {
  width: 44.7%;
  margin: 0 auto;
  background: white;
  position: relative;
  margin-top: 7.3%; }
  .b-events .b-conference__content {
    padding-left: 0;
    margin-left: 16%;
    width: 74%;
    margin-right: 9%;
    border-bottom: 1px solid #222;
    padding-top: 6%; }
    .b-events .b-conference__content.last {
      border-bottom: none; }
  .b-events .b-conference__info {
    width: 80%;
    padding-left: 0; }
    .b-events .b-conference__info__text {
      margin-bottom: 3%; }
    .b-events .b-conference__info__city {
      margin-bottom: 2%; }
    .b-events .b-conference__info__heading {
      margin-bottom: 3%; }
  .b-events .b-conference__date {
    margin-right: 8%; }
  .b-events__sticker {
    width: 19.7%;
    padding-top: 19%;
    background: #ee2e45;
    text-align: center;
    text-align: left;
    padding-left: 16px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: -9%;
    top: -5%; }
    .b-events__sticker p {
      position: absolute;
      height: 100%;
      display: block;
      width: 100%;
      font-size: 40px;
      top: 34%; }
      @media (max-width: 2050px) {
        .b-events__sticker p {
          font-size: 1.95122vw; } }
  .b-events .b-button__wrap {
    text-align: center; }
  .b-events .b-button {
    margin-top: 5.3%;
    color: #222;
    border: 3px solid #222;
    display: inline-block;
    padding: 2.6% 8.3%;
    margin-bottom: 7.1%;
    font-size: 22px;
    margin-top: 7%; }
    @media (max-width: 2050px) {
      .b-events .b-button {
        font-size: 1.07317vw; } }

.b-main-video {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  display: inline-block; }

.b-service, .b-service--consultancy {
  width: 100%; }

.b-service--consultancy {
  margin-bottom: 4.4%;
  background: #fcee2f;
  overflow: hidden; }
  .b-service--consultancy .b-service__media {
    float: left;
    width: 52%; }
    .b-service--consultancy .b-service__media img {
      width: 114%;
      display: block; }
  .b-service--consultancy .b-service__content {
    width: 48%;
    padding-top: 3%;
    height: 100%;
    display: block;
    position: relative;
    float: left;
    z-index: 99; }
    .b-service--consultancy .b-service__content:after {
      display: block;
      width: 100%;
      height: 131%;
      background: #fcee2f;
      content: "";
      position: absolute;
      left: -14%;
      transform: rotate(14.6deg);
      top: 8%;
      z-index: -1; }
  .b-service--consultancy .b-service__logo {
    margin-bottom: 2%;
    width: 90%; }
  .b-service--consultancy .b-service__content__text {
    margin-bottom: 15%;
    line-height: 39px;
    font-size: 36px; }
    @media (max-width: 2050px) {
      .b-service--consultancy .b-service__content__text {
        line-height: 1.90244vw;
        font-size: 1.7561vw; } }
  .b-service--consultancy .b-service__quote {
    margin-left: -7%; }
  .b-service--consultancy .b-service__quote__img {
    width: 13.4%;
    border-radius: 50%;
    float: left; }
    .b-service--consultancy .b-service__quote__img img {
      height: 100%;
      width: auto; }
  .b-service--consultancy .b-service__quote__text {
    margin-left: 4%;
    font-style: italic;
    line-height: 34px;
    font-size: 28px;
    float: left;
    width: 43%;
    text-decoration: underline; }
    @media (max-width: 2050px) {
      .b-service--consultancy .b-service__quote__text {
        line-height: 1.65854vw;
        font-size: 1.36585vw; } }

.b-service--training {
  background: #03c4c4;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 50px; }
  .b-service--training .b-service__logo {
    margin-bottom: 6%;
    width: 39%;
    margin-top: 1.7%; }
  .b-service--training .b-service__division {
    width: 100%;
    padding: 0 5%; }
  .b-service--training .b-service__element {
    width: 33%;
    padding: 0 3%;
    display: inline-block;
    text-align: left; }
  .b-service--training .b-service__element__nbr {
    font-size: 53px;
    margin-bottom: 1%;
    color: #fcee2f; }
    @media (max-width: 2050px) {
      .b-service--training .b-service__element__nbr {
        font-size: 2.58537vw; } }
  .b-service--training .b-service__element__heading {
    font-size: 49px;
    line-height: 56px;
    margin-bottom: 40px; }
    .b-service--training .b-service__element__heading:after {
      width: 60px;
      height: 5px;
      content: '';
      background: red;
      display: block;
      margin-top: 30px; }
    @media (max-width: 2050px) {
      .b-service--training .b-service__element__heading {
        font-size: 2.39024vw;
        line-height: 2.73171vw; } }
  .b-service--training .b-service__element__text {
    font-size: 27px;
    line-height: 45px; }
    @media (max-width: 2050px) {
      .b-service--training .b-service__element__text {
        font-size: 1.31707vw;
        line-height: 2.19512vw; } }
  .b-service--training .b-service__button {
    margin-top: 5.3%;
    color: #fef339;
    border: 3px solid #fef339;
    display: inline-block;
    padding: 1.6% 2.3%;
    margin-bottom: 4.1%;
    font-size: 22px; }
    @media (max-width: 2050px) {
      .b-service--training .b-service__button {
        font-size: 1.07317vw; } }

.b-service--insights {
  overflow: hidden;
  background: #ee2e45; }
  .b-service--insights .b-service__logo {
    width: 71%;
    margin-bottom: 5.2%;
    margin-top: 11.6%; }
  .b-service--insights .b-service__media {
    overflow: hidden;
    position: relative;
    float: left;
    width: 34.8%;
    margin-top: 5%; }
    .b-service--insights .b-service__media img {
      width: 100%; }
  .b-service--insights .b-service__media__pre-heading {
    font-size: 35px;
    color: #fcee2f; }
  .b-service--insights .b-service__media__heading {
    font-size: 50px;
    color: white; }
  .b-service--insights .b-service__media__year {
    font-size: 50px;
    color: #fcee2f; }
  .b-service--insights .b-service__content {
    width: 60.6%;
    float: left;
    padding-left: 8%; }
    .b-service--insights .b-service__content .b-service__heading {
      font-weight: bold;
      color: white;
      width: 53%;
      font-size: 68px;
      margin-bottom: 5%; }
      @media (max-width: 2050px) {
        .b-service--insights .b-service__content .b-service__heading {
          font-size: 3.31707vw; } }
      .b-service--insights .b-service__content .b-service__heading:after {
        width: 60px;
        height: 5px;
        content: '';
        background: #ee2e45;
        display: block;
        margin-top: 10%; }
  .b-service--insights .b-service__text {
    font-size: 31px;
    line-height: 34px;
    margin-bottom: 20px;
    color: white;
    width: 53%; }
    @media (max-width: 2050px) {
      .b-service--insights .b-service__text {
        font-size: 1.5122vw;
        line-height: 1.65854vw; } }
  .b-service--insights .b-service__content__button {
    margin-top: 7%;
    border: 3px solid white;
    display: inline-block;
    padding: 3.3% 9.3%;
    color: white;
    font-size: 20px;
    margin-bottom: 14%;
    font-weight: bold; }
    @media (max-width: 2050px) {
      .b-service--insights .b-service__content__button {
        font-size: 0.97561vw; } }

.b-content-sticker {
  width: 200px;
  height: 200px;
  position: absolute;
  color: #222;
  background: cyan;
  top: 0;
  left: 0;
  padding: 0 0% 0 5%; }

.b-content-sticker__tag {
  margin-top: 20%;
  margin-bottom: 5%;
  font-size: 22px; }
  @media (max-width: 2050px) {
    .b-content-sticker__tag {
      font-size: 1.07317vw; } }

.b-content-sticker__heading {
  font-size: 55px;
  line-height: 53px;
  font-weight: 800;
  margin-bottom: 8%; }
  @media (max-width: 2050px) {
    .b-content-sticker__heading {
      font-size: 2.68293vw;
      line-height: 2.58537vw; } }

.b-content-sticker__text {
  line-height: 30px;
  font-size: 22px;
  padding-right: 9%; }
  @media (max-width: 2050px) {
    .b-content-sticker__text {
      font-size: 1.07317vw;
      line-height: 1.46341vw; } }

.b-conference {
  width: 42%;
  float: left;
  padding-bottom: 50px; }

.b-conference__media {
  width: 100%; }
  .b-conference__media img {
    width: 100%;
    display: block; }

.b-conference__content {
  width: 100%;
  overflow: hidden;
  background: white;
  float: left;
  padding-left: 5.9%;
  padding-top: 9.2%; }

.b-conference__date {
  float: left;
  font-size: 35px;
  font-weight: bold;
  position: relative;
  font-family: "Roboto", sans-serif; }
  .b-conference__date .b-day {
    font-size: 52px; }
    @media (max-width: 2050px) {
      .b-conference__date .b-day {
        font-size: 2.53659vw; } }
  @media (max-width: 2050px) {
    .b-conference__date {
      font-size: 1.70732vw; } }
  .b-conference__date:after {
    height: 100%;
    width: 2px;
    background: #ee2e45;
    content: "";
    position: absolute;
    top: 0;
    right: -37%;
    transform: skew(-14.9deg);
    display: block; }

.b-conference__info {
  float: left;
  padding-left: 12%;
  width: 80%; }
  .b-conference__info__city {
    color: #222;
    margin-bottom: 5%;
    font-size: 22px;
    font-family: "Roboto", sans-serif; }
    @media (max-width: 1000px) {
      .b-conference__info__city {
        font-size: 1.07317vw; } }
  .b-conference__info__heading {
    font-size: 37px;
    line-height: 41px;
    margin-bottom: 7%;
    font-weight: bold; }
    @media (max-width: 2050px) {
      .b-conference__info__heading {
        font-size: 1.80488vw;
        line-height: 2vw; } }
  .b-conference__info__text {
    line-height: 40px;
    margin-bottom: 10%;
    font-size: 27px; }
    @media (max-width: 2050px) {
      .b-conference__info__text {
        font-size: 1.31707vw;
        line-height: 1.95122vw; } }
  .b-conference__info__button {
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8.7%;
    color: #2abec0; }
    @media (max-width: 2050px) {
      .b-conference__info__button {
        font-size: 0.97561vw; } }

.page-container {
  max-width: 1000px;
  border: 1px solid #424242;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
  display: none; }

.widget {
  position: absolute;
  width: 250px;
  right: 0;
  top: 100px;
  background: #4a4a4a;
  color: white; }

.widget__header {
  height: 30px;
  width: 100%;
  background: #383838;
  text-align: center;
  line-height: 30px; }

.actions__list__item {
  height: 30px;
  padding-left: 10px;
  line-height: 30px; }

.widget__handle {
  width: 40px;
  height: 100px;
  background: red;
  float: left; }

.widget__content {
  float: left; }
