@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);
@import url(https://fonts.googleapis.com/css?family=VT323);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after, .wrapper--big:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none; }

@font-face {
  font-family: 'Uni Sans';
  src: url("/ui/uni-sans-heavy.otf") format("opentype"); }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px; }

body {
  font-family: "Roboto Condensed", sans-serif; }

@font-face {
  font-family: 'Press';
  font-style: normal;
  font-weight: 400;
  src: local("Press Start 2P"), local("PressStart2P-Regular"), url(https://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7ozT1DHLc-lgcGofyQSe5eyY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Press';
  font-style: normal;
  font-weight: 400;
  src: local("Press Start 2P"), local("PressStart2P-Regular"), url(https://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o69WAFmVxfVhVkWhl-QDeAk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Press';
  src: url(../../assets/font/PressStart2P.ttf); }

h1 {
  font-size: 60px;
  text-align: center;
  padding: 140px 0 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold; }

.header__wrap {
  height: 122px; }

.header {
  width: 100%;
  z-index: 999;
  height: 122px; }
  .header .wrapper, .header .wrapper--big {
    height: 100%; }

.header__logo {
  width: 170px;
  margin-top: 23px;
  float: left; }

.header__links {
  float: left;
  margin: 0 20px;
  margin-left: 17%;
  padding: 46px 0; }

.header__link {
  display: inline-block;
  margin: 0 20px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  position: relative; }
  .header__link:after {
    width: 0%;
    position: relative;
    left: 50%;
    content: "";
    height: 1px;
    top: -4px;
    background: #000;
    display: block;
    -moz-transition: width 200ms cubic-bezier(0,1,1,1), left 200ms cubic-bezier(0,1,1,1);
    -o-transition: width 200ms cubic-bezier(0,1,1,1), left 200ms cubic-bezier(0,1,1,1);
    -ms-transition: width 200ms cubic-bezier(0,1,1,1), left 200ms cubic-bezier(0,1,1,1);
    -webkit-transition: width 200ms cubic-bezier(0,1,1,1), left 200ms cubic-bezier(0,1,1,1);
    transition: width 200ms cubic-bezier(0,1,1,1), left 200ms cubic-bezier(0,1,1,1); }
  .header__link:hover:after {
    left: 0%;
    width: 100%; }

.wrapper, .wrapper--big {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto; }

.wrapper--big {
  max-width: 1400px;
  padding-top: 100px; }

.section, .section--video {
  width: 100%; }

.section--video {
  text-align: center; }

.section--events {
  background: yellow;
  padding-bottom: 100px;
  position: relative; }
  .section--events:after {
    width: 200%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    background: yellow;
    top: -33%;
    left: -34%;
    z-index: -1;
    transform: rotate(23deg); }

.section--conference {
  overflow: hidden; }

body {
  padding-bottom: 500px; }

.footer {
  background: #222222;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 0;
  position: relative; }
  .footer:after {
    width: 200%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    background: #222;
    top: -33%;
    left: -34%;
    z-index: -1;
    transform: rotate(8deg); }

.footer__logo {
  width: 120px; }

.footer__nav__item {
  display: inline-block;
  text-align: left;
  margin: 50px 50px; }

.footer__nav__link {
  margin-bottom: 20px;
  font-size: 12px; }
  .footer__nav__link:first-child {
    color: #424242;
    margin-bottom: 40px; }
    .footer__nav__link:first-child:after {
      width: 40px;
      height: 4px;
      background: #ccc;
      content: '';
      display: block;
      margin-top: 20px; }

.b-media, .b-media--big, .b-media--small, .b-media--middle {
  display: block;
  width: 35%;
  float: left;
  position: relative; }

.b-media--big {
  width: 46%;
  margin-right: 3.5%;
  margin-left: 10%; }
  .b-media--big .b-content-sticker {
    left: -15%;
    top: 13.5%;
    width: 49%;
    height: 76%;
    background: #dcebfc; }

.b-media--small {
  width: 35%;
  margin-top: 12%;
  margin-left: 2.5%; }
  .b-media--small .b-content-sticker {
    left: -5%;
    top: -34%;
    width: 65%;
    height: 100%;
    background: #dcebfc; }

.b-media--middle {
  width: 44%;
  margin-top: 4%;
  margin-left: 40.5%; }
  .b-media--middle .b-content-sticker {
    left: -25%;
    top: 10%;
    width: 51%;
    height: 81%;
    background: #ed2b4a; }

.b-media__item {
  width: 100%; }
  .b-media__item img {
    width: 100%; }

.b-events {
  width: 80%;
  margin: 0 auto;
  background: yellow;
  max-width: 700px;
  padding-bottom: 300px; }
  .b-events .b-conference__info {
    width: 62%; }
  .b-events .b-conference__date {
    margin-right: 10%; }
  .b-events__sticker {
    width: 100px;
    height: 100px;
    background: red;
    text-align: center;
    padding-top: 34px;
    text-align: left;
    padding-left: 16px;
    color: white;
    font-weight: bold;
    position: relative;
    left: -50px;
    top: -50px; }

.b-main-video {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
  display: inline-block; }

.b-service, .b-service--consultancy {
  width: 100%; }

.b-service--consultancy {
  margin-bottom: 40px;
  background: #fef339;
  overflow: hidden; }
  .b-service--consultancy .b-service__media {
    float: left;
    width: 52%; }
    .b-service--consultancy .b-service__media img {
      width: 100%;
      display: block; }
  .b-service--consultancy .b-service__content {
    width: 48%;
    padding-top: 35px;
    height: 100%;
    display: block;
    position: relative;
    float: left;
    z-index: 99; }
    .b-service--consultancy .b-service__content:after {
      display: block;
      width: 138px;
      height: 1000px;
      background: #fef339;
      content: "";
      position: absolute;
      left: -147px;
      transform: rotate(16deg);
      top: -7px;
      z-index: -1; }
  .b-service--consultancy .b-service__logo {
    margin-bottom: 20px;
    width: 300px; }
  .b-service--consultancy .b-service__content__text {
    margin-bottom: 30px; }
  .b-service--consultancy .b-service__quote__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left; }
    .b-service--consultancy .b-service__quote__img img {
      height: 100%;
      width: auto; }
  .b-service--consultancy .b-service__quote__text {
    margin-top: 20px;
    margin-left: 20px;
    float: left; }

.b-service--training {
  background: #03c4c4;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 50px; }
  .b-service--training .b-service__logo {
    margin-bottom: 5%;
    width: 400px; }
  .b-service--training .b-service__division {
    width: 100%;
    padding: 0 5%; }
  .b-service--training .b-service__element {
    width: 33%;
    padding: 0 2%;
    display: inline-block;
    text-align: left; }
  .b-service--training .b-service__element__nbr {
    font-size: 34px;
    margin-bottom: 15px; }
  .b-service--training .b-service__element__heading {
    font-size: 32px;
    margin-bottom: 40px; }
    .b-service--training .b-service__element__heading:after {
      width: 60px;
      height: 5px;
      content: '';
      background: red;
      display: block;
      margin-top: 30px; }
  .b-service--training .b-service__element__text {
    font-size: 20px;
    line-height: 30px; }
  .b-service--training .b-service__button {
    margin-top: 40px;
    border: 3px solid #333;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 60px; }

.b-service--insights {
  padding: 20px;
  max-height: 700px;
  overflow: hidden;
  background: #f2f2f2; }
  .b-service--insights .b-service__logo {
    width: 300px;
    margin-bottom: 40px;
    margin-top: 40px; }
  .b-service--insights .b-service__media {
    overflow: hidden;
    position: relative;
    width: 50%;
    float: left;
    padding: 20px; }
    .b-service--insights .b-service__media img {
      width: 100%; }
  .b-service--insights .b-service__media__mask {
    background: red;
    opacity: 0.6;
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%; }
  .b-service--insights .b-service__media__pre-heading {
    font-size: 35px;
    color: yellow; }
  .b-service--insights .b-service__media__heading {
    font-size: 50px;
    color: white; }
  .b-service--insights .b-service__media__year {
    font-size: 50px;
    color: yellow; }
  .b-service--insights .b-service__content {
    width: 50%;
    float: left; }
  .b-service--insights .b-service__text {
    font-size: 19px;
    line-height: 29px;
    margin-bottom: 20px; }
  .b-service--insights .b-service__content__button {
    margin-top: 40px;
    border: 3px solid #333;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 60px; }

.b-content-sticker {
  width: 200px;
  height: 200px;
  position: absolute;
  color: black;
  background: cyan;
  top: 0;
  left: 0;
  padding: 0 0% 0 3%; }

.b-content-sticker__tag {
  margin-top: 24%;
  font-size: 15px;
  margin-bottom: 7%; }

.b-content-sticker__heading {
  font-size: 38px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 8%; }

.b-content-sticker__text {
  line-height: 22px; }

.b-conference {
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: left;
  padding-bottom: 50px; }

.b-conference__media {
  width: 100%; }
  .b-conference__media img {
    width: 100%; }

.b-conference__content {
  width: 100%;
  overflow: hidden;
  background: white;
  float: left;
  padding-left: 10%; }

.b-conference__date {
  float: left;
  font-size: 35px; }

.b-conference__info {
  float: left;
  padding-left: 20px;
  width: 80%; }
  .b-conference__info__city {
    color: #424242;
    margin-bottom: 23px;
    margin-top: 15px; }
  .b-conference__info__heading {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px; }
  .b-conference__info__text {
    line-height: 25px;
    margin-bottom: 20px; }
  .b-conference__info__button {
    float: right; }

.page-container {
  max-width: 1000px;
  border: 1px solid #424242;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
  display: none; }

.widget {
  position: absolute;
  width: 250px;
  right: 0;
  top: 100px;
  background: #4a4a4a;
  color: white; }

.widget__header {
  height: 30px;
  width: 100%;
  background: #383838;
  text-align: center;
  line-height: 30px; }

.actions__list__item {
  height: 30px;
  padding-left: 10px;
  line-height: 30px; }

.widget__handle {
  width: 40px;
  height: 100px;
  background: red;
  float: left; }

.widget__content {
  float: left; }
